[2019-08-29 04:52] chungwong commented on #545
I believe this issue is relating how a request be routed to nodes with different `releases`
Environment
start two separate nodes
[code]

your frontend(GraphiQL) is listening to a url, say `localhost/graphql` which points to the following in Nginx

[code]

Now make a changes to your Elixir source code and save, restart one of the phx.server to have the latest changes while keeping the old node with

[2019-09-03 16:44] mjquinlan2000 commented on #768
@benwilson512 I'm trying to use the branch from the PR you submitted and I can't seem to get it to work. I'm getting a weird error about `:type_definitions`:

[code]

[2019-09-03 18:41] benwilson512 commented on #768
Can you show `monorepo/services/api/lib/myapp_graphql/worker/schema.ex:58` and the surrounding area? Previous versions of Absinthe would generally ignore if things got put in the wrong place, the new version is more strict, but we haven't finalized the error messages yet.

[2019-09-06 12:25] #759 closed

[2019-09-06 12:25] #765 closed

[2019-09-06 13:09] benwilson512 commented on #737
Hey @stavro, you should be able to solve this by extracting the function to a named function and doing `meta :key, &SomeModule.some_function/1`. While Absinthe supports inline anonymous resolver functions, doing so has come at an enormous complexity cost, and we don't plan to continue supporting inline anonymous functions for other properties.

[2019-09-06 13:09] #737 closed

[2019-09-06 13:17] #603 closed

[2019-09-10 20:02] mjquinlan2000 commented on #768
Hey @benwilson512 I finally got around to figuring out the compilation errors. The upgrade actually exposed a surprising amount of problems with our current schema that I had to fix. It's going out to our beta environment within the next couple of days. I'll let you know if we see any memory difference.

[2019-09-10 22:22] Eein opened #781 "Atoms ending in numbers do not parse correctly (ie. address_line_1)"
### Environment

* Elixir version (elixir -v): 1.9.1
* Absinthe version (mix deps | grep absinthe): 1.4.16
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

When using addresses, there may be a shipping_address column in the database called address_line_1 and address_line_2
You would expect these to be query-able with addressLine1 and addressLine2

### Actual beha

[2019-09-10 23:12] benwilson512 commented on #781
Hey @Eein, the error message is definitely not great, and it's one we hope to catch at schema build time. The functionality here though is largely correct, since we simply rely on `Macro.underscore`, which doesn't add a `_` prior to numbers. There are no plans to change that, in part because if you wish to make that work differently you can already do so by using a custom adapter.

[2019-09-11 22:12] Eein commented on #781
Awesome! Thanks! Ill close this then :)

[2019-09-11 22:12] #781 closed

[2019-09-13 11:01] tcoopman commented on #533
Is there any reason these fixes are not merged in `v1.5`?

[2019-09-15 01:13] binaryseed opened #783 "Eliminate bare atom identifiers"
Noted in https://github.com/absinthe-graphql/absinthe/pull/780/files#r322457359

This will help us handle both Macro-based & SDL-based schemas better

[2019-09-15 01:20] binaryseed commented on #758
OK to close this now?

[2019-09-15 01:29] binaryseed commented on #773
What about `persistent_term` for storing blueprints?

* http://erlang.org/doc/man/persistent_term.html

It's heavily optimize for high read / rare update situations - lookups take no locks & do no memory copying! Seems like a possible way to avoid sending around these gigantic structs that never change

Only caveat is that it's only in OTP-22, but it could be conditionally applied

[2019-09-15 22:45] garthk commented on #758
Yeah, between this and the docs anyone confused can find out what's going on.

[2019-09-15 22:45] #758 closed

[2019-09-16 02:04] benwilson512 commented on #773
@binaryseed I considered it, and we should probably benchmark it. The concern however is that `put` and `delete` operations can trigger global garbage collection in all the processes, which is bad. The subscription store needs to be well optimized for retrieval, insertion, as well as deletion, since at least in the main case where subscriptions support a front end via websockets, clients come and

[2019-09-16 06:00] binaryseed commented on #773
Makes sense... This might be a tangent, but is there anywhere else in Absinthe that you think might benefit from the technique? I know the schema structs are passed around quite a lot in resolvers

[2019-09-16 12:17] benwilson512 commented on #773
@binaryseed Absinthe schemas use the traditional optimization technique of baking everything into a literal, which achieves the same shared memory optimization and is even slightly faster. Because schema building is achieved with pipelines now though you could definitely switch out the "compile to an elixir module" phase with a phase that shoved everything into persistent term. This would be what

[2019-09-19 08:41] satom99 opened #788 "Taking in an arbitrary input object from a Scalar"
We are in the need to be able to take in an arbitrary input object as an argument
to one of our queries. For that reason, I figured doing so from a custom Scalar
would be our best bet.

However, when accepting an input object from the scalar and returning a success
tuple, Absinthe does complain that the given input object has unknown fields even
though we are in a custom scalar - and not within a

[2019-09-19 11:45] benwilson512 commented on #788
Hey @satom99

This has come up before, and the stance we've taken is the there's nothing in the spec to suggest that custom scalars are allowed to re-interpret GraphQL syntax. `{a: 4}` simply is an input object, it can't be anything else. The usual answer for allowing arbitrarily shaped data is to accept a JSON scalar: `example(test:"{\"a\":4}")`.

[2019-09-19 11:45] #788 closed

[2019-09-30 13:21] tcoopman commented on #206
Am I reading this correctly that even if you write a custom scalar that does all the parsing of the input object, this still won't work?

I've tried something and have a result in the form of `{:ok, %{foo: 1}}` but the input does not succeed: `message: "Argument "input" has invalid value $input.... Expected type "Json!", found {foo: 1}.↵In field "foo": Unknown field."`

If I use the `escaped json

[2019-09-30 14:10] benwilson512 commented on #206
Absinthe parses the input object, not your scalar. The GraphQL grammar defines what counts as an input object and what counts as a scalar. If what is provided to the Absinthe parser is an input object, Absinthe will not provide that input object data to your scalar parse function, because it isn't a scalar. Providing a string of whatever encoding you like is a valid scalar, and will be provided to

[2019-09-30 14:16] tcoopman commented on #206
It is provided to my scalar though and my parser can parse it correctly, but the graphql endpoint returns an error. No errors are reported in the elixir console

[2019-09-30 14:16] benwilson512 commented on #206
Can you provide an example?

[2019-09-30 20:08] fbjork opened #790 "Apollo Federation"
Are there any plans on supporting Federation (https://www.apollographql.com/docs/apollo-server/federation/introduction/)?

[2019-09-30 21:35] rhnonose commented on #768
We might be having this issue.
We're having memory peak and I got some glimpse through observer that `Absinthe.Subscription.Proxy` was consuming a lot of memory.
We've just updated to master and will give a feedback on memory usage.

[2019-10-01 07:48] tcoopman commented on #206
Given this scalar:

[code]

and this schema:

[code]

when I submit this mutation:

[code]

Everything works fine, but when I provide this input: `{"input":{"foo": 1}}` with in the same mutation I get `"Argument \"input\" has invalid value $input.\nIn field \"foo\": Unknown field."`

I'm using the `1.5.0-beta.2` version

[2019-10-01 14:54] benwilson512 commented on #206
I can see how that's a little confusing, but it's actually that`{"input":{}}` should not work either. `{"foo": 1}` is not a scalar, it's the variable version of an input object.

[2019-10-01 14:58] tcoopman commented on #206
But in this example `{"foo": 1}` also hits the `decode` function. So this is double confusing.

[2019-10-01 15:02] benwilson512 commented on #206
This
[code]
should behave exactly the same way as

[code]
If it doesn't, that's a bug. The parse function should not be called, and the error message is correct. `{foo: 1}` isn't a valid value for a scalar literal, and `{"foo":1}` isn't a valid value for a scalar variable. If we're passing those to parse functions we shouldn't be.

[2019-10-01 15:04] mjquinlan2000 commented on #768
Hey @benwilson512 sorry for the late update; I rotated onto feature work since my last post.

We updated our production servers to:

[code]

`1.5.0-beta.2` seems to have #775 merged in and we're not seeing a noticeable difference in the amount of pod crashes and sharp increases in memory usage. We've had it running in the wild for about 2 weeks now.

![image](https://user-images.githubusercontent.

[2019-10-01 15:13] tcoopman commented on #206
They behave the same, but the `parse` function is called.

Changing the scalar to this shows it:
[code]

[2019-10-01 15:16] benwilson512 opened #791 "Scalar parse function called when input not a scalar"
We should only call the scalar parse functions if the input is a valid scalar literal.

[2019-10-01 15:18] benwilson512 commented on #790
Hi @fbjork yes work to enable schema stitching is in progress.

[2019-10-01 15:18] #790 closed

[2019-10-01 15:19] benwilson512 commented on #206
Created https://github.com/absinthe-graphql/absinthe/issues/791

[2019-10-01 15:23] benwilson512 commented on #768
Interesting, so memory usage remains largely constant until the moment of crash, that doesn't sound like a memory leak to me. Memory leaks are usually characterized by a continuous slow memory growth up to the point of failure.

When you are measuring the amount of memory used by the proxy processes are you donig so during the period where everything is using ~1gb of ram of the period during which

[2019-10-01 15:32] benwilson512 commented on #773
Closing this for now, feel free to reopen @darrenclark if you have updates.

[2019-10-01 15:32] #773 closed

[2019-10-01 22:55] conradwt commented on #790
@benwilson512 Did you mean Apollo Federation because Federation has replaced the now deprecated, Schema Stitching?

[2019-10-02 12:20] benwilson512 commented on #790
@conradwt sure, we have been using the term "schema stitching" to simply loosely refer to the idea of aggregating several different schemas into one queryable schema, we were not planning to copy Apollo's implementation verbatim.

At the current moment the main focus has simply been on making Absinthe schemas easier to construct in a data driven way. 1.5 will release with those features, and then

[2019-10-04 14:52] mjquinlan2000 commented on #768
Ok I have some updates. I was able to log top process memory usage and segment by the process name and it turns out that our `MyApp.PubSub` processes were the offenders this time. I went and looked at the `Phoenix.PubSub` docs to see if I could find some answers. I didn't really get a confident answer, but I noticed that in our configs we had:

[code]

What stood out to me is that I had configured

[2019-10-07 12:15] benwilson512 commented on #768
Well, the default is `System.schedulers_online() |> Kernel./(4) |> Float.ceil() |> trunc()`. That' 1 if you have < 8 vCPUs, higher if you have >= 8.

Setting that aside, Task.Supervisor using a lot of memory is definitely annoying, I guess I didn't realized that they were passed the actual start data, but I now see that they are. Let me evaluate some options with respect to that.

@mjquinlan2000 i

[2019-10-07 17:21] mjquinlan2000 commented on #768
@benwilson512 thanks for looking into it. I believe that it was pretty foolish of me to set the pubsub pool size to anything but the default considering that we're using an auto-scaling erlang cluster on our servers.

We have a hotfix going out right now to garbage collect the pubsub processes.

[2019-10-18 11:57] maartenvanvliet commented on #545
[code]
@samphilipd when you say to use a module and function, do you mean the anonymous function the `trigger` or the `config`? Or both?

[2019-10-18 13:15] benwilson512 commented on #545
@maartenvanvliet both. In fact you'd probably be best off avoiding anonymous functions entirely. Notably `&Module.function/3` forms are not anonymous functions, they are "function captures".

[2019-10-18 13:19] maartenvanvliet commented on #545
Great, thanks!

[2019-10-20 09:53] maartenvanvliet commented on #378
There is a mix task now to generate the SDL 🎉. See https://hexdocs.pm/absinthe/1.5.0-beta.2/Mix.Tasks.Absinthe.Schema.Sdl.html#content

This issue can be closed :)

[2019-10-22 11:43] #791 closed

[2019-10-29 09:27] samphilipd opened #798 "How to run middleware on every query/mutation (NOT introspections)"
Hi Ben

This isn't an issue, more of a question.

I want to run a middleware on every resolution that will ensure that a Policy was called.

Unfortunately this breaks introspection. Is there a way of specifying a middleware globablly that runs ONLY on user-defined fields?

I tried to add as `middleware` under the `query do` stanza but it didn't work.

Thanks!

[2019-10-29 16:01] benwilson512 commented on #798
Hi @samphilipd are you trying to do it on EVERY field or just fields on the root query object? Keep in mind that in:

[code]

`:name` is also a field. If you want to do it only on fields with the root query object you can pattern match on the args to `def middleware`.

[code]

[2019-10-29 20:39] sgtpepper43 opened #799 "Document id on subscriptions can have collisions across multiple instances"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): 1.81
* Absinthe version (mix deps | grep absinthe): 1.5.0-beta.2
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

Subscriptions are unique

### Actual behavior

We're not 100% confident on this, but so far it's the only explanation. We send desktop notifications dow

[2019-10-30 05:10] benwilson512 commented on #799
Hi @sgtpepper43, definitely a concerning issue to run into.

I may be missing something here, but the reason we went with `:erlang.unique_integer` is that the broadcasts that use those topics are local node only. You're definitely right that two nodes could end up with the same document ID, but document IDs are not the values that are sent between nodes. Each node manages its own set of documents,

[2019-10-30 14:54] sgtpepper43 commented on #799
No, you're right, if we don't send the subscription id between nodes we'd be fine. And even though `unique_integer` starts over when a server restarts, all of the socket connections would've been killed and all of the clients would get new subscriptions. So that can't be the problem. You're not aware of any other ways the context can get mixed up between requests, are you?

[2019-10-30 22:54] #799 closed

[2019-10-30 22:55] benwilson512 commented on #799
I am not, but if you've seen it in the wild it's definitely worth looking into. Perhaps there are reconnect scenarios where a topic would be reused? Unfortunately we're on a deadline this week so I am not able to dig in as much as I'd like, but let me look at it more next week.

[2019-10-31 03:05] sgtpepper43 commented on #799
We would appreciate that _so much_. We've dig deep into the Absinthe and Phoenix source to try and find any place that the context or subscription could get switched up but haven't been successful at that. Your expertise would be really helpful. The topic reuse think sounds like a decent lead, though I think it'd still be super weird and rare.

[2019-11-02 19:10] pmargreff commented on #573
I'm stuck with the same problem. Yesterday I took some time to debug it.

First, both the apollo engine and Appsignal give me the same information, near pointed by @svileng [in this comment](https://github.com/absinthe-graphql/absinthe/issues/573#issuecomment-410653601). I'm using Dataloader, so it isn't an N+1 query problem.

![Screenshot_2019-11-02_15-34-06](https://user-images.githubusercontent

[2019-11-03 11:22] michalmuskala commented on #573
There are two basic cases to look into in here - encoding keys and encoding values. If the issue is with encoding keys, then it should be possible to optimise it. If the issue is encoding values, then it will be much harder.

Looking at these logs, what is actually worrisome to me are all the inspect calls - inspect shouldn't be used for production things.

[2019-11-04 11:04] jeroenvisser101 commented on #573
@michalmuskala I think the inspect calls are run because the [performance checks are run in test env](https://github.com/pmargreff/absinthe_test/blob/master/test/absinthe_test_web/absinthe/books_test.exs#L27-L29), which might also have other performance impact elsewhere.

[2019-11-04 13:46] benwilson512 commented on #573
Can you elaborate on the connection between the test env and inspect being called?

[2019-11-05 11:18] jeroenvisser101 commented on #573
@benwilson512 I was assuming that inspect was used in Logger calls that would be stripped at compilation when run in production, but when I looked into it further, it seems inspect calls in Absinthe are used for various stuff, not exclusive to errors/logger calls.

[2019-11-05 14:34] benwilson512 commented on #573
Absinthe has inspect implementations for certain Structs but only for
debugging. It should not be run during normal query resolution. Do you have
a sense of what is being inspected and where?

On Tue, Nov 5, 2019 at 3:18 AM Jeroen Visser <notifications@github.com>
wrote:

[2019-11-06 09:05] jeroenvisser101 commented on #573
@benwilson512 I did some further investigation, and found that the inspect calls are actually made from dataloader:

https://github.com/absinthe-graphql/dataloader/commit/ce9ac3f3e4649dd15a3094ad50ba841511455d31#diff-cb130db1770f44aedd393088b4d91bcdR252

It seems like some changes were made in the way errors are reported. `Dataloader.Ecto` seems to rely on errors to update pending batches, because

[2019-11-06 13:15] #798 closed

[2019-11-06 13:21] benwilson512 commented on #573
Aha great catch! I will push a change to dataloader to eliminate the inspect as part of the ordinary flow.

As for the Map.take, `Map.take` + `Map.merge` are definitely the fastest way to get a set of keys / values from one map into another, we benchmarked it. Both are implemented as BIFs these days, so they'll win out every time over N get / put calls.

The time spent on Map.take is significantly

[2019-11-08 16:35] tonyrud commented on #387
@sebsel Great article on Stitching vs Federation! Any updates on getting the Federation setup to work in Absinthe? Would love to be able to use this for a large microservices project my team is getting ready to start on.

[2019-11-11 11:32] virtual-light opened #803 ""Cannot return null for non-nullable field" present when error was specified"
### Environment

[code]
[code]

### Expected behavior

According to [current GQL specification](https://graphql.github.io/graphql-spec/June2018) paragraph [6.4.4](https://graphql.github.io/graphql-spec/June2018/#sec-Errors-and-Non-Nullability) and [working draft of new GQL specification](https://graphql.github.io/graphql-spec/draft) paragraph [6.4.4](https://graphql.github.io/graphql-spec/draft/#s

[2019-11-11 14:42] benwilson512 commented on #803
Ah, it seems they changed the wording on this. Will fix.

[2019-11-12 00:14] paradox460 opened #804 "Perform schema validity check for field names."
I am able to add a field or scalar to a schema with a `name` option that contains a space, such as `some token`, which is against the [graphql name specs](https://graphql.github.io/graphql-spec/June2018/#sec-Names).

i.e.

[code]

## What I expect
Compilation fails or I get some form of warning telling me I have an invalid schema.

## What actually happens
No warnings or errors in compilation or `

[2019-11-12 00:15] paradox460 commented on #804
This issue relates to [this discussion on elixirforum](https://elixirforum.com/t/automated-schema-validity-tests-for-absinthe/26726)

[2019-11-14 18:35] virtual-light opened #806 "Absinthe allows to use objects (non input objects) as valid fields arguments"
### Environment
[code]
[code]

### Expected behavior

According to [current GQL specification](https://graphql.github.io/graphql-spec/June2018) paragraph [3.4.2](https://graphql.github.io/graphql-spec/June2018/#sec-Input-and-Output-Types) and [working draft of new GQL specification](https://graphql.github.io/graphql-spec/draft) paragraph [3.4.2](https://graphql.github.io/graphql-spec/draft/#sec-In

[2019-11-14 18:41] maartenvanvliet commented on #806
Can you reproduce this with the `1.5` branch?

If I do this on `master`
[code]

I get an error
[code]

[2019-11-14 18:42] benwilson512 commented on #806
Yeah this is fixed in the 1.5 releases, it will not be back ported to 1.4. 1.4 uses an older schema construction method and it isn't easy to make changes to at this point.

[2019-11-14 18:42] #806 closed

[2019-11-14 18:43] benwilson512 commented on #768
Hey @mjquinlan2000 are you still experiencing issues?

[2019-11-15 03:47] jfrolich opened #807 "Cannot run Absinthe.Schema.introspect in compile phase because of telemetry"
[code]

Would be great to have an option to drop the  telemetry phase. Otherwise generating a schema on compile is not possible anymore.

[2019-11-15 05:11] jfrolich commented on #601
Would be great if it can be resolved in 1.5! Using a custom adapter now, but not the best solution.

[2019-11-15 13:53] benwilson512 commented on #807
"Run in compile time" is unfortunately difficult to determine since you can compile anything at any time. A telemetry: false option to `run` and by extension `introspect` might be enough?

[2019-11-16 05:49] binaryseed commented on #807
I opened a ticket in `telemetry` to see if those ETS lookups should be protected against.. Ideally `telemetry` can be installed everywhere without having to opt-out all over the place.

[2019-11-16 21:26] binaryseed commented on #807
I'm curious about your mix task...

[code]

That doesn't look like it comes from Absinthe itself... All the mix tasks defined in Absinthe will start all deps with `Application.ensure_all_started(:absinthe)`

https://github.com/absinthe-graphql/absinthe/blob/master/lib/mix/tasks/absinthe.schema.json.ex#L78

If this is a custom task, I'd recommend doing the same

[2019-11-17 23:31] #804 closed

[2019-11-18 02:45] jfrolich commented on #807
That would be perfect

[2019-11-18 02:46] jfrolich commented on #807
Yes that would probably be even better.

[2019-11-18 02:48] jfrolich commented on #807
It's a task that runs at compile time with the compilers option in the `mix.exs`.

[2019-11-18 03:17] binaryseed commented on #807
Why wouldn't you be able to call `Application.ensure_all_started(:absinthe)`?

[2019-11-18 03:19] jfrolich commented on #807
Because it runs in the compile stage, so the application can't (shouldn't) be running.

[2019-11-18 05:04] jfrolich commented on #601
It might be better to have a slightly different underscore function by default, that puts an underscore before digits by default (looks like a lot of people are running into this).
I could pull-request this.

[2019-11-18 12:03] virtual-light opened #809 "Allow set custom error path"
### Environment

[code]
[code]

According to GQL specification [Error Response Format](https://graphql.github.io/graphql-spec/June2018/#sec-Errors) and examples from specification[[1]](https://graphql.github.io/graphql-spec/June2018/#example-90475)[[2]](https://graphql.github.io/graphql-spec/June2018/#example-08b62), nested errors should be flatten and `path` field should be used to specify the sp

[2019-11-19 00:45] binaryseed commented on #807
Telemetry PR was merged, we'll bump when a release is published!

[2019-11-19 01:12] jfrolich commented on #807
Fantastic!

[2019-11-19 02:00] #807 closed

[2019-11-19 09:55] virtual-light commented on #809
I think syntax can look like:

[code]

So, if custom `path` was provided, it should override the `path` that has been generated by
absinthe.

I can work on it to provide PR if there are no disagreement.

[2019-11-19 14:34] benwilson512 commented on #809
Hi @virtual-light I am a little confused about this request. When does an error happen in Absinthe where the path is not set correctly? Why should a user ever be able to make the path something other than Absinthe determines?

[2019-11-26 04:11] parkerduckworth opened #812 "Ambiguous AST Parsing"
### Environment

* Elixir version: `1.8.1`
* Absinthe version: `1.4.16`
* Client framework and version: `cowboy 2.7.0`

### Expected behavior

When making GraphQL calls that include non-object types (enum, scalar, union), these types should be parsed into the Absinthe AST using their respective Absinthe type counterparts, e.g. `Absinthe.Type.Enum`, `Absinthe.Type.Scalar` etc.

### Actual behavior

[2019-11-26 14:51] benwilson512 commented on #812
Hi @parkerduckworth I think you're misunderstanding how the structure works here. Notice how the the `%Absinthe.Type.Field{}` struct has `type: :item_status`. When representing the query, the `status` field in the request maps to a `status` type field which contains LOTS of information about that field, not just its type. For xample it includes the middleware information, where in the file to find

[2019-11-26 14:51] #812 closed

[2019-11-26 15:53] parkerduckworth commented on #812
@benwilson512  thanks for the explanation!

[2019-11-27 12:18] futpib opened #813 "Non-null by default"
I find myself having `non_null` calls all over my schemas. Can this be the default? For example, these snippets could be equivalent:

##### Proposed new API
[code]

##### Equivalent current API
[code]

[2019-11-27 12:22] maartenvanvliet commented on #813
I suggest you create a macro to make non null fields easier in your projects.

E.g. to stick with graphql SDL syntax
[code]

[2019-11-27 13:44] #684 closed

[2019-11-28 13:38] Velychkanych commented on #639
Good afternoon to all !!! How to implement server-side unsubscrider in graphql

[2019-11-28 13:39] Velychkanych commented on #639
Good afternoon to all !!! How to implement server-side unsubscrider in graphql ???

[2019-11-28 20:29] benwilson512 commented on #639
Hi @Velychkanych please direct questions to the elixir forum or slack. The issue tracker is for issues.

[2019-11-30 17:47] pmargreff commented on #573
We've some fix in absinthe-graphql/dataloader#84, but also, room for improvement once `Elixir.Absinthe.Phase.Document.Execution.Resolution` takes a lot of time (from 15% to 20%). I've no context here, do you think it can be improved in any significant way?

[2019-12-03 21:15] sergiotapia commented on #348
@benwilson512 running into this same issue today - do you know if anything has been updated for these situations?

[2019-12-03 21:21] benwilson512 commented on #348
Hi @sergiotapia things have changed quite a lot since 2017, I'd checkout https://hexdocs.pm/absinthe/1.5.0-beta.2/Absinthe.Resolution.html#project/1 and https://hexdocs.pm/absinthe/1.5.0-beta.2/ecto.html#content

[2019-12-04 23:44] tfwright commented on #618
I think I ran into this when I started getting a very mysterious error in the graphiql UI:

[code]

Removing the middleware fixed it.

[2019-12-05 06:44] binaryseed commented on #813
Macros look like a great solution here, this would be far to significant of a breaking change...

[2019-12-05 06:44] #813 closed

[2019-12-05 07:19] binaryseed commented on #803
I put together a small PR to tackle this https://github.com/absinthe-graphql/absinthe/pull/816

[2019-12-05 07:25] #730 closed

[2019-12-05 07:26] #740 closed

[2019-12-05 07:30] binaryseed commented on #703
The linked PR looks like it closes this issue out...

[2019-12-05 07:30] #703 closed

[2019-12-05 07:38] binaryseed commented on #687
I suspect this is just a documentation issue. The code specifically designates the placement of complexity to be limited to fields:

https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/schema/notation.ex#L563

[2019-12-05 07:55] binaryseed commented on #687
Fixed the docs over here: https://github.com/absinthe-graphql/absinthe/pull/817

[2019-12-05 10:38] futpib commented on #813
I did not propose a breaking change, but fine.

[2019-12-05 15:06] sergiotapia commented on #348
Thanks @benwilson512 - for any would be searchers that find themselves here. I ended up using dataloader to prevent these n+1 issues.

[2019-12-05 20:34] binaryseed commented on #813
Sorry, I didn't even notice the configuration option on `use Absinthe.Schema.Notation`

A few tiny macros could accomplish this with the existing syntax, so I'm not sure we'd want alter Absinthe itself to have multiple "modes" that a schema can be running under, especially since people can break up their schema definitions into many modules - that could lead to complexity if an included module is

[2019-12-07 04:49] #687 closed

[2019-12-07 06:58] binaryseed commented on #597
If these situations are intended to pass validation, I've got a PR that should clean this up: https://github.com/absinthe-graphql/absinthe/pull/819

[2019-12-07 07:03] #222 closed

[2019-12-07 07:19] binaryseed commented on #767
This should be possible with Absinthe 1.5. The docs show how to manipulate the schema structs...

https://hexdocs.pm/absinthe/1.5.0-beta.2/Absinthe.Schema.html

And this test has further examples:

https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/manipulation_test.exs

[2019-12-07 07:19] #767 closed

[2019-12-07 17:58] #597 closed

[2019-12-07 23:14] #803 closed

[2019-12-09 07:33] binaryseed opened #820 "Placement checking for schema notation macros"
We need to check the `@placement` annotations when building the schema based on macros

`master`:
* https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/schema/notation.ex#L1751

Logic in `1.4`:
* https://github.com/absinthe-graphql/absinthe/blob/v1.4.16/lib/absinthe/schema/notation.ex#L1608

[2019-12-09 07:37] binaryseed commented on #820
@bruce Does this logic need to be re-worked or just pulled in ?

[2019-12-09 13:32] benwilson512 commented on #820
@binaryseed it needs to be reworked, the 1.4 placement checking logic relied on introspecting the 1.4 module attributes that were used during schema compilation. Those are completely reworked and there's really no introspectable concept of a "current" scope at the moment. We probably need to add an extra module attribute that we use just to track scope. It can be much simpler than before, we don't

[2019-12-10 08:12] binaryseed commented on #820
Got a PR together to implement this! #822

[2019-12-10 23:24] #820 closed

[2019-12-13 16:05] #726 closed

[2019-12-14 00:25] ACBullen opened #826 "Feature Request: Query Complexity Equivalent for Errors"
I've been working on a pipeline stage to address this for the project I am working on, but I figure the functionality could be broadly useful.

### The Problem

A fairly simple malicious query can result in a response many times its size, which in turn could be used as a DoS vector. For example the query `{q}` gets the response:
[code]
Which can be expanded to `{q\nq}` to receive an error back wit

[2019-12-14 16:27] benwilson512 commented on #826
Hi @ACBullen this is a very interesting question. I am definitely on board with the idea of enabling configurable limits on the number of errors that are addressed in a response. I think emitting metrics (perhaps via telemetry) about errors are likely good as well, because I think the ideal way to handle this is at the request level. That is to say, you could wire those metrics into a plug based r

[2019-12-16 21:29] ACBullen commented on #826
Ok. I think I see your point about it not really being the parser's business. Thanks for the input, I'll close this out and tinker with addressing it elsewhere in the process.

[2019-12-16 21:29] #826 closed

[2019-12-20 04:14] binaryseed commented on #809
I'm going to close this - Absinthe does set the path according to the GraphQL spec, and I don't think we'd want a "custom" path...

Please re-open if we've mis-understood this.

[2019-12-20 04:14] #809 closed

[2019-12-23 16:46] myronmarston opened #831 "UndefinedFunctionError `nil.identifier/0` from `import_sdl` with a directive like `@foo(a: { b: {} })`"
### Environment

* Elixir version (elixir -v):

[code]

* Absinthe version (mix deps | grep absinthe):

[code]

* Client Framework and version (Relay, Apollo, etc):

N/A: not using any client

### Expected behavior

I expect `import_sdl` to either properly parse and import my schema file or fail with a clear error

### Actual behavior

When calling `import_sdl` with a schema that has a field direc

[2019-12-26 11:23] collegeimprovements commented on #387
Should we create a new issue for  `Federation Support` ?

[2019-12-29 14:55] acristoffers opened #833 "v1.5: [`input_object` must only be used toplevel] inside mutation"
### Problem

After upgrading the dependencies from Alpha to RC0 the code no longer compiles.
The error reported is:

The offending code is (line 288 is `input do`):

[code]

Looking at test coverage only simple input fields are used (integer), there is no test for a complex input type and I could not find any documentation/examples on how to use a complex type like I could on alpha. I'm not sure t

[2019-12-30 15:11] tanguilp opened #834 "Nonexistent `Blueprint.Document.Resolution.node_t()` type used"
The `Blueprint.Document.Resolution.node_t()` type is used in several files as a type but it doesn't exist. Example: https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/blueprint/result/list.ex#L17

This generates warnings when using Dialyzer.

[2019-12-31 13:48] benwilson512 commented on #833
Hey @acristoffers this is not intentional, the notation validity checks we added in the RC release did not take into account some of the stuff that Absinthe.Relay does. I'm working on a patch that will fix this.

[2019-12-31 14:13] benwilson512 commented on #833
Fixed in `absinthe 1.5.0-rc.1` and `absinthe_relay 1.5.0-rc.0`

[2019-12-31 14:14] #833 closed

[2020-01-02 07:19] binaryseed commented on #752
Here's a PR that fixes this issue: https://github.com/absinthe-graphql/absinthe/pull/829

[2020-01-07 13:21] hickscorp opened #835 "Randomly crashes when compiling the schema with `import_types` in tuples."
Note that this bug is showing up inconsistently and I'm unable to have a clear reproducible scenario.

Basically, when importing types, we had something working with Absinthe 1.4 that looked like this:

[code]
With Absinthe 1.5, this randomly crashes the schema compilation - sometimes it works - sometimes it doesn't.

When it does crash, we get this error:

[code]

Once the error shows up, the onl

[2020-01-08 22:25] #752 closed

[2020-01-09 00:31] binaryseed commented on #834
I looked at this and I'm guessing it's meant to be `Absinthe.Blueprint.Execution.node_t`

Would you say that's right @benwilson512 ?

[2020-01-09 00:35] binaryseed commented on #831
Can you share more of the setup that causes this? (Perhaps even via a PR that fails a test :) )

Looking at the code, it's the `schema_node` that is `nil`, presumably the nested arg doesn't have a type associated with it...

https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/phase/schema/arguments/data.ex#L32

[2020-01-09 03:02] DragosMocrii commented on #573
I am experiencing slow responses too with a very small application. It takes around 800ms to receive the result. DB queries are max 2ms. I am using the latest 1.5.0-rc.2 version. I really can't pinpoint to where my application code would take the performance hit, and unfortunately I don't know how to profile an elixir application. I see some screenshots above of profiler results, what tools were u

[2020-01-09 12:44] pmargreff commented on #573
@DragosMocrii you can check the [debug repo](https://github.com/pmargreff/absinthe_test). I've used [exprof](https://hexdocs.pm/exprof/api-reference.html), it's a wrapper for the native debug module, you can also use [cprof](https://hexdocs.pm/mix/1.6.6/Mix.Tasks.Profile.Cprof.html#content), [eprof](https://hexdocs.pm/mix/1.6.6/Mix.Tasks.Profile.Eprof.html#content) or [fprof](https://hexdocs.pm/mi

[2020-01-09 16:46] DragosMocrii commented on #573
Thanks @pmargreff ! I started fiddling with fprof, but I'm still trying to understand how it works. I was hoping for an easier solution, such as an installable dependency that has a nice GUI, but I guess that's too much to ask :)

[2020-01-09 17:08] benwilson512 commented on #573
@DragosMocrii You may want to update Dataloader as well, we just pushed a release containing that fixes an issue where values that were not found within dataloader would always get inspected, which can be quite slow.

[2020-01-09 17:13] DragosMocrii commented on #573
@benwilson512 thank you for the suggestion! I have found the source of my trouble, it was the call to `Pbkdf2.verify_pass` that would slow down the response. Turns out this is the proper way it works, in order to prevent timing attacks. Removing this call, Absinthe returns my response in ~15ms, which is sweet! Sorry for the trouble, Absinthe is amazing!

[2020-01-09 18:11] benwilson512 commented on #573
@DragosMocrii ah yeah if the operation is a login operation, verifying the password will normally take a while and make the overall response long. Glad to hear you sorted it out!

[2020-01-09 18:28] #768 closed

[2020-01-10 17:51] myronmarston commented on #831
Sure, done in #842.

[2020-01-13 22:58] aspett opened #843 "1.5.0-rc.2: Calling functions in enum value 'as:' option results in compile error."
### Environment

* Elixir version (elixir -v): Elixir 1.9.4 (OTP 22)
* Absinthe version (mix deps | grep absinthe):  locked at 1.5.0-rc.2 (absinthe) 132ceb90
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

Expected successful compilation, with enum values defined by function calls. (Worked in 1.4)

### Actual behavior

[code]

### Relevant Schema/Middleware Code

[

[2020-01-14 01:28] aspett opened #844 "1.5.0-rc.2: Can't extend query type"
### Environment

* Elixir version (elixir -v): 1.9.4
* Absinthe version (mix deps | grep absinthe): * absinthe 1.5.0-rc.2 (https://github.com/absinthe-graphql/absinthe.git) (mix)
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

Expected that I can extend the Query type successfully using `import_sdl/1`. Hoping this is just a misunderstanding / lack of guide. I notic

[2020-01-14 13:36] benwilson512 commented on #844
I'm pretty sure the kitchen sink can only be _parsed_ right now, I don't see code for making extensions actually happen yet at all. The language of https://github.com/absinthe-graphql/absinthe/pull/821 seems to indicate that we're gonna tackle extending the macro world first, then add SDL support.

[2020-01-14 16:24] mjquinlan2000 commented on #768
Hey @benwilson512 sorry for the late response. Q4 got a little crazy. We are still experiencing intermittent pod restarts, but I'm 99% convinced it's not related to Absinthe and rather has something to do with the way we are using Swarm processes. It's not affecting our users (yet) so I've been focused on other things.

The work that you have done has definitely had a positive impact on memory usa

[2020-01-14 20:13] iamcrazycoder commented on #601
I had the same issue. Columns names in MySQL table, and properties in Ecto model and GraphQL schema were in camelCase.

I fixed the issue by updating the case of all properties and columns to **snake_case**.

Absinthe makes the model properties accessible in camelCase but expects the same to be declared in snake_case.

Absinthe version: 1.4.16

[2020-01-16 04:57] pyromaniac opened #845 "SDL export excess types"
With the following schema:

[code]

I perform `mix absinthe.schema.sdl --schema Schema`

And it looks like all the objects that are used for fields import are also reflected in the SDL dump.
It happens on any level, not only on the schema level.

JSON schema works as expected. I believe this is because JSON schema dump uses introspection query and SDL simply dumps everything in the namespace.

###

[2020-01-16 21:55] binaryseed commented on #844
Correct, this isn't supported yet, and I don't think we're aiming for it to be in the initial 1.5 release

[2020-01-17 05:20] #834 closed

[2020-01-17 06:29] binaryseed commented on #843
The schema compilation step is operating on the AST representation of the function call, it's not executing the function directly (by design).

@benwilson512 Is this type of thing intended to work?

[2020-01-17 15:32] sheharyarn commented on #448
I've been using a similar macro:

[code]

To call:

[code]

[2020-01-17 17:12] benwilson512 commented on #843
No, you'd want to construct this type via the hydrate call back. We need to document how to do that though, and I'm not actually sure that `hydrate` supports a `{:add, typedef}` return yet, although it easily could.

[2020-01-20 18:18] stueccles commented on #507
I ran into this as well on 1.4. Would be good to get this reopened and the fix backported.

[2020-01-20 18:20] benwilson512 commented on #507
1.5 is on RC, there will not be any further backports to 1.4 at this point.

On Mon, Jan 20, 2020 at 1:18 PM Stuart Eccles <notifications@github.com>
wrote:

[2020-01-20 21:37] stueccles commented on #507
ok, awesome. Looking forward to getting on 1.5!

On Mon, Jan 20, 2020 at 1:20 PM Ben Wilson <notifications@github.com> wrote:

[2020-01-23 10:03] jawakarD opened #851 "Default value with list_of can't take lists"
### Environment

* Elixir version (elixir -v):
    - Elixir 1.9.0 (compiled with Erlang/OTP 20)
* Absinthe version (mix deps | grep absinthe):
[code]

* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

When opening Graphiql, black result page and docs

### Actual behavior

![image](https://user-images.githubusercontent.com/31589372/72974286-c1be2500-3df4-11ea-8e6d-

[2020-01-23 13:27] benwilson512 commented on #851
Hi @jawakarD , this particular error looks like it would happen if you had a field where the type of the field was an enum, but the default value wasn't found as part of the enum. We should do a better job validating that at compile time, maybe we do in 1.5, I'd have to check.

Can you provide any enums you have, and any fields which use those enums?

[2020-01-23 13:31] benwilson512 commented on #844
@binaryseed maybe we should explicitly raise or return some kind of error if extend is used that makes it clear it isn't supported yet?

[2020-01-23 19:27] jawakarD commented on #851
Sure.

This is the only field we use enum in
[code]

[code]

The introspection query works when i change the default value to
[code]
But the default value I'm getting is `status: [Statuses] = [READY]` 😕

Error comes again when I want the default value to be
[code]

[2020-01-23 19:52] benwilson512 commented on #851
Ah good question, Do you mind if we close this particular issue and make a new one about that specific question?

[2020-01-23 19:56] ekobi opened #852 "Running validation-only pipeline barfs on good data."
This is an issue I reported on the Elixir forum, for which @benwilson512 provided a workaround. Wondering if either
- `Absinthe.Pipeline.run()` could handle applying the workaround automatically;

or, alternatively
- `Absinthe.Pipeline` could provide a `for_document_validation()` function that builds a suitably patched input for `run()`

If submitting a bug, please provide the following:

### Envi

[2020-01-23 20:00] ekobi commented on #852
Reproducing recommended workaround for the record:
[code]

[2020-01-23 20:05] benwilson512 commented on #852
Right, I think fundamentally the Result phase should just be made to work properly on documents with no execution result, which I think would be pretty easy.

[2020-01-23 20:11] jawakarD commented on #851
Sure, no problem 🙂

[2020-01-24 06:20] jawakarD commented on #851
Even though **graphiql** docs shows as `status: [Statuses] = [READY]` for the field `status` when using
[code]
The resolver still receive `%{status: :ready}` when i pattern match like this, program crashes.
[code]

When I have the field enum uses as:
[code]
The query I do manually, works fine, but the introspection query fails.

I'll leave the issue closed, would love to hear the workaround/soluti

[2020-01-24 15:41] benwilson512 commented on #851
Well, I was gonna suggest we make another issue, but it's fine I'll just reopen this and rename it to focus on the root issue.

[2020-01-25 18:36] evanreierson opened #856 "Custom parse errors for scalars"
In [the custom scalars guide](https://github.com/absinthe-graphql/absinthe/blob/master/guides/custom-scalars.md) it says:

I think this is an important feature because clients should be able to know why a scalar isn't parsing to make debugging easier for them.

I am interested in implementing this feature, but I will need a bit of guidance because I am fairly new to elixir, absinthe, and open sour

[2020-01-25 21:44] benwilson512 commented on #856
Hi @evanreierson the first place to start would be to sort out if the GraphQL spec allows for custom parsing error messages, or if the language is still standardized. When we first wrote this there was particular language that scalars which failed to parse were supposed to use. Maybe that's changed now, you'd have to check.

[2020-01-27 20:56] evanreierson commented on #856
Thanks @benwilson512, I did not find this standardized language for custom parsing in the most recently published or draft version of the spec. It just says to return a query error when input coercion goes wrong or return a field error when result coercion fails.

In the [Response Errors section](http://spec.graphql.org/June2018/#sec-Errors) though, there is some language that seems to suggest tha

[2020-01-27 22:03] #852 closed

[2020-01-27 22:59] #845 closed

[2020-01-29 18:51] Ecksters commented on #314
I just want to make sure this covers an issue we saw recently, where an `object` was used for a mutation `input`, rather than an `input_object`, and no error was thrown.

[2020-01-29 18:52] benwilson512 commented on #314
@Ecksters that specific issue is unrelated to this issue. This issue is about suggesting field names when they are misspelled within a query. Your issue is about checks done when a schema is built.

[2020-01-29 22:53] binaryseed commented on #851
Have you tried this on 1.5? I believe I fixed this with https://github.com/absinthe-graphql/absinthe/pull/792

[2020-01-30 01:28] binaryseed commented on #843
@benwilson512 do you mean `{:as, value}`?

[2020-01-30 17:11] hansonkd commented on #439
I was wondering if there is an update on this, or at least a small snippet of 1 dynamic field of how to do this with 1.5.

[2020-01-31 18:16] #831 closed

[2020-02-03 15:58] rossvz commented on #684
I'm getting this exact error on `1.5.0-rc.2`:
[code]

Using syntax like @devonestes
[code]

[2020-02-04 05:42] #844 closed

[2020-02-05 18:42] rossvz opened #864 "Document changes to import_types in 1.5"
### Environment

* Elixir version (elixir -v): 1.9.2
* Absinthe version (mix deps | grep absinthe): 1.5.0-rc.2
* Client Framework and version (Relay, Apollo, etc): N/A

Need some documentation around the fact that `import_types` wont work for "batched" imports, the same way it did in 1.4

Previously, this was supported:
[code]

But in 1.5 we get an error like this:

[code]

This error goes away by

[2020-02-05 22:23] binaryseed commented on #864
@benwilson512 Could you chime in on this?

I think this & the other compile/AST related things are the only stuff left to tackle before the next (hopefully final) RC release

[2020-02-05 23:22] benwilson512 commented on #864
Hey sorry, I never really contributed anything related to this feature, I remember it being an issue, and I remember someone popping in and fixing it, but I don't remember how it works. We're in customer crunch time right now, gonna be at least a week before I can look at anything sorry.

[2020-02-05 23:43] binaryseed commented on #864
Gotcha, thanks for the context! Best of luck on the feature!

[2020-02-06 18:20] #864 closed

[2020-02-09 15:33] seivan commented on #700
@benwilson512 The real "gotcha" here is what Absinthe is actually doing invalidating what essentially constitutes a valid format.

In other words, if  someone sends valid request containing `2019-03-30T17:19:00+01:00` it shouldn't automatically be invalidated,  I mean that's the whole purpose of the standardization.

It's both a valid `iso8601` format and something `DateTime.from_iso8601` actually

[2020-02-09 17:54] benwilson512 commented on #700
Hi @seivan, this is what I mean by information loss:

[code]
See how the date time does not contain the provided offset information? Information was definitely lost there.

This is still true today actually even with the improvements to Elixir's standard library handling of timezones:
[code]

Offsets are not the same thing as timezones, so knowing the offset doesn't let you derive the timezone. I

[2020-02-10 13:24] seivan commented on #700
@benwilson512 No I understand that completely. Offset are irrelevant since they are static as opposed to actual timezones a la´ "Europe/Paris" that would follow DST and other policy changes. So I get that part, it's very clear to me.

If a client sends you `"2019-03-30T17:19:00+01:00"` or `"2019-03-30T17:18:00Z" (UTC)`
They still have to send a time zone, regardless of the validations put in place

[2020-02-10 13:25] benwilson512 commented on #700
That's a fair point. PR welcome, we'll include the change in the 1.5 release.

[2020-02-10 13:28] seivan commented on #700
@benwilson512 I hope I didn't wear you down :)

What would be a useful PR, just removing the error for anything creating an offset, or something that tackles the `time + zone` as two fields?

[2020-02-10 13:34] benwilson512 commented on #700
No not at all, your point that the "data loss" was inevitable and we'd just moved it to the client was compelling. The offset isn't the timezone, so that has to be passed anyway.

I think the PR should just remove the error for non 0 offsets. You can't have a scalar that uses two different graphQL fields so supporting something that was first class time + zone would have to be a larger project.

[2020-02-10 17:13] simke9445 opened #866 "Absinthe subscription schema non null error on an optional field."
Greetings Absinthe team,

I'm having trouble using the subscriptions module from Absinthe.

What's happening is that when I try to publish a subscription I get a GraphQL validation error for nested fields of an optional object field.

To illustrate this better:
- I have Notification and Creator types and a notification_created subscription
- Notification schema has a creator field - which is optio

[2020-02-10 17:30] benwilson512 commented on #866
Hi @simke9445. I'm pretty sure that the issue is related to the presence of an `%Ecto.AssociationNotLoaded{}` struct on the `:creator` key of your `notification` struct. If you look at the error closely, you'll notice that it isn't complaining about a null creator, it's complaining about a null creator _id_. This means that it thinks you've given it a creator. If you are using the default middlewa

[2020-02-11 21:53] evanreierson commented on #856
I did some more digging into Absinthe errors and the GraphQL spec and it appears that Absinthe errors might be out of sync with the spec. This might need to be addressed in another issue or maybe it's not a problem, but:

![image](https://user-images.githubusercontent.com/31623887/74281036-ef530b80-4cda-11ea-9393-3c038c99d773.png)
[source](https://spec.graphql.org/June2018/#sec-Errors)

The [Absin

[2020-02-14 17:21] binaryseed commented on #835
Would you mind trying this out again with `master` now that https://github.com/absinthe-graphql/absinthe/pull/865 has been merged?

[2020-02-18 18:05] sergiotapia-papa commented on #363
Any pointers on pagination? @benwilson512

[2020-02-20 17:00] futpib opened #870 "Resolve one field before another (or dependencies between field resolvers)"
Consider this query:

[code]

Imagine `body` is not immediately available on the `issue` and has to be resolved.

Imagine we want to define resolvers for `bodyHTML` and `bodyText` based on the resolved value of `body`.

Absinthe does not provide a way to impose a resolution order on fields or dependencies between resolvers.

JS world has [`graphql-resolvers`](https://github.com/lucasconstantino/gr

[2020-02-20 18:30] bgentry commented on #843
I believe I'm encountering this same issue. This is the code which fails to compile:

[code]

Although the error message I get is slightly different, at least until I remove the use of an `alias`:

[code]

And this works:

[code]

[2020-02-20 18:44] bgentry commented on #843
Here's another slightly different case where I'm reusing a more complex fragment as my internal value (which I use in [my Relay dataloader implementation](https://github.com/absinthe-graphql/absinthe_relay/issues/128#issuecomment-450791649)):

[code]

And the error for that:

[code]

[2020-02-20 19:53] benwilson512 commented on #843
Hi @bgentry the thing you're seeing is unrelated.  Expanding modules is supposed to work, having function calls in type definitions is not supposed to work. Specifically:
[code]

Is not supposed to work, even if `item_name_sort` simply returned a value. The schema definition macros require constants, which you can either supply directly as literals or supply via other macros. You'll want to use th

[2020-02-20 19:56] benwilson512 commented on #870
Hi @futpib. In general please use the forums, slack, or other Elixir help locations to ask questions, the issue tracker is for issues. To your question, check out the https://hexdocs.pm/absinthe/Absinthe.Resolution.Helpers.html#batch/4 middleware, it will allow you to hand off resolution of the fields to a batch function that can look up the values in whatever order you want, and then return the d

[2020-02-20 20:07] bgentry commented on #843
@benwilson512 yeah, I understand that Ecto and Absinthe are different projects — that's not my issue 🙂

In existing released versions of Absinthe, you can use any value at all in the `:as` of an enum: an atom, string, a random Ecto fragment, whatever. This turned out to be quite useful when I wanted to add additional sorting options to my Relay connections which are not simple columns in the datab

[2020-02-20 21:07] #870 closed

[2020-02-20 21:07] #866 closed

[2020-02-20 21:10] #851 closed

[2020-02-20 22:05] #843 closed

[2020-02-20 22:09] aspett commented on #843
Yeah it's unfortunate that calling (simple) functions will no longer work going forward. It means we will be having state or enumeration strings defined in multiple places

[2020-02-20 22:11] binaryseed commented on #843
Check out #859 , it's still possible via `hydrate`

[2020-02-20 22:13] aspett commented on #843
Ah, my bad. Thanks for this.

[2020-02-21 11:36] futpib commented on #870
I am using batch and dataloader to achieve this, but it feels more like a workaround (with significant boilerplate) rather than a first-class solution  like [`graphql-resolvers`](https://github.com/lucasconstantino/graphql-resolvers/blob/master/docs/API.md).

[2020-02-21 17:12] binaryseed commented on #870
From my understanding of the GraphQL spec:

1) Fields are _returned_ in the order they appear in the query, but execution order has no guarantees (also it could be done completely in parallel)
2) Resolution of a field has no knowledge of the sibling fields result, only the source object

Given that, this kind of behavior would be well suited for a custom middleware, but not something that we're li

[2020-02-21 19:13] benwilson512 commented on #870
Right, and as an additional note, the API to batch middleware is definitely verbose, but:
1) it is 100% first class, it's built into absinthe itself
2) It is verbose because it's generic, the idea is that you're supposed to create helper functions that simplify the API for your specific use case. So for example, batch loading of ecto associations is achieveable with a single function call as the m

[2020-03-02 12:59] mpoeter opened #875 "Incorrect resolution of inner fields for union types with fields with same name and type"
### Environment

* Elixir version (elixir -v):
  Erlang/OTP 22 [erts-10.5.5] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
  Elixir 1.9.4 (compiled with Erlang/OTP 22)
* Absinthe version (mix deps | grep absinthe): 1.4.16

We have a union type where some objects have a field with the same name of the same type - and that type is again an (inner) object. For different (union type

[2020-03-02 14:03] benwilson512 commented on #875
Hi @mpoeter this could definitely be a good test case to add to the 1.5 release to avoid regressions. With 1.5 in RC, we aren't planning on tackling bugs like this any future 1.4 releases.

[2020-03-02 14:38] mpoeter commented on #875
Make sense, especially since there is an easy workaround (always request the superset of required fields on the inner type). Feel free to close this anytime you like.

[2020-03-03 17:56] binaryseed commented on #875
PRs welcome for tests!

[2020-03-03 17:56] #875 closed

[2020-03-05 03:22] mitcheaton1 opened #876 "Allow altering of absinthe mutation/query arguments error output for non-null fields."
If submitting a bug, please provide the following:

### Environment

* Elixir version 1.9.1
* Absinthe version absinthe 1.5.0-rc.3
* Phoenix 1.4

### Expected behavior

I have an error library for returning errors which includes some things under an extensions key in the error return as stated should be used in the graphql spec. https://spec.graphql.org/June2018/#sec-Errors

For pretty much everyt

[2020-03-05 04:13] benwilson512 commented on #876
Hi @mitcheaton1, this would need to be handled with a custom phase added to the pipeline. These are validation errors, not resolution errors, so resolution level solutions won't apply here, since resolution never happens.

[2020-03-05 04:13] #876 closed

[2020-03-06 00:32] safwank opened #877 "Nested `non_null` not caught by schema validator"
### Environment

* Elixir version (elixir -v): 1.9.4
* Absinthe version (mix deps | grep absinthe): 1.5.0-rc.3
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

The schema validator should catch nested `non_null` field definitions at compile time.

### Actual behavior

It doesn't actually do the above.

### Relevant Schema/Middleware Code

Sample field definition

[2020-03-08 14:53] pmargreff commented on #877
If I understand you have a list of structures, which you want to validate.

It's not gonna work as expected; `field(:permissions, non_null(list_of(non_null(:string))))` works fine because your list contains string who cannot be null.

If you try `(non_null(non_null(:string))` expecting to validate an object, it will fail. Because it doesn't know which field it should check against if your object h

[2020-03-08 22:59] safwank commented on #877
I think you misunderstood the issue. All I'm saying here is

[code]

is invalid, and should be caught at compile time. Unfortunately that's not the case.

[2020-03-09 02:30] pmargreff commented on #877
Wow, clearly I did, so ignore my response.

[2020-03-09 22:21] binaryseed commented on #877
Fix here: https://github.com/absinthe-graphql/absinthe/pull/878

[2020-03-09 22:31] #378 closed

[2020-03-10 01:33] ukrbublik commented on #694
Can this be merged to 1.4 branch?
Or if there is workaround to ignore this in dialyzer report?

[2020-03-10 10:51] pmargreff commented on #656
I'm working on it.

[2020-03-10 16:42] benwilson512 commented on #694
@ukrbublik 1.4 is only receiving critical bug fixes at this point since 1.5 is in RC.

[2020-03-10 16:59] ukrbublik commented on #694
Ok, thanks. Workaround is just put
[code]
in dialyzer's `ignore_warnings` confg file

[2020-03-11 11:58] pmargreff commented on #656
Looking into GraphQL language definitions: [DefaultValue can be any Value[Const]](https://spec.graphql.org/draft/#sec-Language.Variables), while [NullValue is a Value[Const]](https://spec.graphql.org/draft/#Value). So your suggestion makes sense, the problem is, taking a brief look into the internals and seems like `nil` value is coupled with value absence. I'll try a POC replacing it with a `%Non

[2020-03-11 17:34] seivan commented on #700
Fixed in https://github.com/absinthe-graphql/absinthe/pull/879

[2020-03-11 17:41] seivan commented on #856
Out of curiosity, what happens if a custom scalar just raises, like `:integer`
[code]
Wouldn't that be handled by Absinthe and go through the proper channels?

[2020-03-11 18:13] evanreierson commented on #856
Good idea! I just tried it with an Elixir raise ArgumentError though and it appears that the error is not caught/transformed by Absinthe later down the line. There is a full blown error and stack trace as opposed to the graphql-formatted error the client receives if :error is returned in the parse function. Do you think I could get different behaviour with a custom exception?

I don't think that w

[2020-03-11 18:24] seivan commented on #856
Well, here's the thing. You can't escape raising in your resolvers or middlewarse, sooner or later you're going to have a code that internally, somewhere deep will throw.
There's a lot that can go wrong apart from failing to parse a custom scalar, there is a lot of movable parts apart from APIs that are documented to throw, like missing function patterns, guards and cases that don't tackle default

[2020-03-11 18:40] #700 closed

[2020-03-11 18:51] seivan commented on #856
Also noticed that Absinthe itself tackles when its own types are wrong.

[code]

Expecting two integers, passing "hey" instead and I get

[code]

[2020-03-11 19:18] benwilson512 commented on #856
@seivan this is correct, `hey` is an enum type not a scalar type, so the scalar parse function won't even run.

[2020-03-11 19:27] seivan commented on #856
Ok... I also noticed this worked when `b` is `list_of(:integer)` but extracting it from `[b] = arg.b` before running `div/2`

[code]

Does that mean that Absinth will try as many lexers(?) it can?

[2020-03-11 19:44] benwilson512 commented on #856
Scalar parsing doesn't happen at the lexer / parser level, it happens during query validation. As for that specific example, that looks like a bug, I don't think we should be unwrapping the list there.

[2020-03-11 19:47] seivan commented on #856
Just to be clear you're not unwrapping the list, I am doing that from the argument before passing it to my function within a resolver.
The issue is that it's defined as a `list_of(:integer)` and I pass a `2` and it works.

[2020-03-11 21:24] #877 closed

[2020-03-12 15:34] benwilson512 commented on #856
Oh, that is part of the spec. List args are allowed to receive unwrapped values as long as the value is compatible with the inner type of `list_of(t)`.

[2020-03-13 13:54] seivan opened #881 "Make it clear that filtering happens when using actual graphql variables."
### Environment

* Elixir version: `1.10.2`
* Absinthe version:
[code]
* Client Framework and version (Relay, Apollo, etc): `GraphQL Playground & Altair`

### Expected behavior
One would expect
`password` arguments to mutations as filtered when sending a mutation.

### Actual behavior
`password` isn't filtered in a mutation if it's sent as an argument directly to the mutation as opposed to as a va

[2020-03-20 15:16] #556 closed

[2020-03-20 15:16] #746 closed

[2020-03-23 02:37] benwilson512 commented on #856
@evanreierson please feel free to follow up with a PR adding custom error messages.

[2020-03-23 02:37] #856 closed

[2020-03-25 19:28] #881 closed

[2020-03-25 23:34] benwilson512 opened #886 "1.5 release discussion"
@binaryseed @bruce Let's take a beat and sort out what we want in place for a 1.5 release, and what we want to communicate with subsequent release numbers.

In my view 1.5 is basically good to go. We achieved a complete rework of the schema internals, and we have covered the ground we need to support certain new use cases.

It is entirely possible that we'll need more changes to support fancier SD

[2020-03-25 23:38] binaryseed commented on #886
I agree that 1.5 is ready to go!

[2020-03-26 12:59] benwilson512 opened #887 "SDL import error"
Importing this sdl https://gitlab.com/zo-team/ZenPub-Server/-/blob/develop/lib/valueflows/graphql/schemas/observation.gql#L475

and then using `import_fields :observation_mutations` results in this error https://gist.github.com/mayel/f2d700b8cdfa4a39f03d2f316b017c75 when introspection is run.

[2020-03-26 13:00] benwilson512 commented on #886
Agreed. I'm gonna try to handle this https://github.com/absinthe-graphql/absinthe/issues/887 today, and I want to provide some clarity WRT hydrate in the docs, and then I think we cut a release.

[2020-03-26 13:04] mayel commented on #887
Thanks for looking into it!

Please note that those definitions depend on a few others, also available at https://gitlab.com/zo-team/ZenPub-Server/-/tree/develop/lib/valueflows/graphql/schemas

[2020-03-26 13:05] benwilson512 commented on #887
Thanks!

[2020-03-26 13:33] #835 closed

[2020-03-26 13:45] benwilson512 commented on #887
The issue is that union types aren't having their `types` properly correctly transformed from blueprint type references to atoms.

[2020-03-26 14:07] #887 closed

[2020-03-27 20:38] bgentry commented on #886
Related to the release discussion, I wanted to make sure my question about the `use_parent` breaking change was seen before making a decision on the release: https://github.com/absinthe-graphql/absinthe/pull/882#issuecomment-605300660

[2020-03-27 23:45] bgentry commented on #565
Hi @benwilson512, unfortunately this is one more issue I encountered when upgrading to v1.5. I had an issue all filled out on this before I stumbled upon this existing issue, so I'll just re-paste that description since it covers everything:

### Environment

* Elixir version (elixir -v):

[code]

* Absinthe version (mix deps | grep absinthe):

[code]

### Expected behavior

I expected to see my e

[2020-03-28 00:35] bgentry commented on #565
The workaround seems to have changed slightly, this worked for me:

[code]

[2020-03-28 06:28] akoutmos opened #892 "Multiple telemetry events when using dataloader"
### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): 1.5.0-rc.4
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

When using a dataloader for a field, I would expect a single `[:absinthe, :resolve, :field, :start]` event and a single `[:absinthe, :resolve, :field, :stop]` event to be emitted via telemetry during the

[2020-03-28 07:23] akoutmos commented on #892
After digging through the code a bit, perhaps separate dataloader start/stop events should be emitted here: https://github.com/absinthe-graphql/dataloader/blob/master/lib/dataloader/kv.ex#L107. Thoughts?

[2020-03-28 14:59] benwilson512 commented on #892
Hi @akoutmos, the behaviour you are seeing is correct and expected. Batch style resolvers like dataloader group the resolution of many fields together.

Suppose you have this:
[code]
and there are 3 posts, the `author` field uses dataloader. Each posts' author field starts resolving, but then suspends to wait on the results from dataloader. This means you get 3 start event in a row as each field a

[2020-03-28 14:59] #892 closed

[2020-03-28 15:01] benwilson512 commented on #653
Telemetry is now included in Absinthe.

[2020-03-28 15:01] #653 closed

[2020-03-28 15:01] #670 closed

[2020-03-28 15:04] benwilson512 commented on #565
Yeah, introspection was sort of special cased in 1.4, but this made a bunch of stuff way harder than it should have been.

However, I agree that avoid introspection manually in `def middleware` is sort of a pain. Let me think about what makes sense here.

[2020-03-28 15:11] #618 closed

[2020-03-28 15:11] benwilson512 commented on #618
I agree that this is probably not advisable. If an example can be provided that should work but does not I'm happy to reopen.

[2020-03-28 15:15] benwilson512 commented on #723
Handled via documentation.

[2020-03-28 15:15] #723 closed

[2020-03-28 15:15] #545 closed

[2020-03-28 15:29] benwilson512 commented on #565
OK after messing with this, I think we should just have Absinthe not pass introspection fields to `def middleware`. If you want to manipulate introspection fields yourself this is easily achievable now via `hydrate` or custom schema building phases.

[2020-03-28 15:43] benwilson512 commented on #610
Will reopen if provided a modern example.

[2020-03-28 15:43] #610 closed

[2020-03-28 17:37] akoutmos commented on #892
Thanks for the detailed answer @benwilson512! That all makes sense. I'll get to work on adding telemetry to dataloader and will open up a PR. As a side note (mostly since I am new to Absinthe), how would I go about filtering out `[:absinthe, :resolve, :field, :start]` and [:absinthe, :resolve, :field, :stop]` events to avoid misreporting metrics? Is there anything in the `Absinthe.Resolution` stru

[2020-03-28 18:19] #527 closed

[2020-03-28 18:22] benwilson512 commented on #886
I've added two other bugs that have been around for a while to the 1.5 milestone. Working on them now.

[2020-03-28 19:50] benwilson512 commented on #892
Can you elaborate on why you want to filter those out? The times are 100% valid, they're just happening concurrently.

[2020-03-28 20:19] binaryseed commented on #670
If this something we want to be configurable? I tweaked a few phases to enable this in our api since we had a strong need for it.

[2020-03-28 20:23] akoutmos commented on #892
My bad. I should have given some more context.

While the timings are 100% valid and accurate, I cannot reliably use those events to count how many times I have had to perform that batch resolution. For example, let's say I had a Prometheus counter setup inside the `:stop` event, I could get 3 increments for a resolution that I only had to resolve once (since all three are batched as one). Dependi

[2020-03-28 21:26] benwilson512 commented on #670
Maybe, but I want to re-look at it after the 1.5 release

[2020-03-29 15:00] #565 closed

[2020-03-31 16:56] benwilson512 commented on #555
Not entirely sure when this was fixed, but I just added a test case to master showing that this issue seems to be fixed. https://github.com/absinthe-graphql/absinthe/commit/392426bd550fc65b4b0304d01813229ac4daaba6

[2020-03-31 16:56] #555 closed

[2020-03-31 16:59] benwilson512 commented on #683
@darrenclark Notably, this doesn't _quite_ prove what you want, although it does highlight an interesting but different bug. `[int_arg: 5]` should be `[variables: %{"intArg" => 5}]` which, if you make that change, does result in an error. Two observations:

1) The error is wrong. The error is about a _parse error_ which happens because it's trying to parse `5` as a string and failing. It shouldn't

[2020-03-31 18:27] jessedrelick commented on #387
[Official Apollo Federation Spec](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/)

Any updates on this? I'm currently working on Apollo Federation support in Absinthe and the main blockers I have at the moment are:

1. Defining `__resolveReference` does not work because Absinthe correctly throws an error when using 2 underscores on a field. I'm looking into configurin

[2020-03-31 18:34] jessedrelick commented on #766
I am curious if this is related to the issue I mentioned here:

https://github.com/absinthe-graphql/absinthe/issues/387#issuecomment-606795861

[2020-03-31 23:34] jessedrelick commented on #387
@binaryseed thanks for the prompt reply. I'll look deeper into the exposed SDL, I appreciate the feedback there.

My plan is for this to be a separate library without any need to change Absinthe. I'm hopeful that will be possible due to the various extension points available (plugins, middleware, phases etc).

[2020-04-01 07:41] software-opal opened #900 "Incorrect type spec in Absinthe.Blueprint.Execution"
I've noticed this error when running dialyzer over a project that depends on Absinthe:
[code]

I think it comes from [this reference to `Result.Object.t()` in Absinthe.Blueprint.Execution](https://github.com/absinthe-graphql/absinthe/blob/cf46de10c10e155b413e8609d49e32da2999a839/lib/absinthe/blueprint/execution.ex#L49). I think it'd just be a matter of changing it to be the fully qualified path, b

[2020-04-01 08:12] software-opal commented on #900
I should have clarified, I'm using Absinthe 1.4.16(which is the latest available on hex), which doesn't appear to contain [this line](https://github.com/absinthe-graphql/absinthe/blame/cf46de10c10e155b413e8609d49e32da2999a839/lib/absinthe/blueprint/execution.ex#L30) from #699.

After adding that one line to my dependency folder and recompiling everything, dialyzer now gives a new error:
[code]
Whi

[2020-04-01 11:25] benwilson512 commented on #900
Hi @software-opal can you try this again on the 1.5.0 RC? We've made a bunch of fixes to the type annotations within that release.

[2020-04-02 18:46] darrenclark commented on #683
Ahhh makes sense.

Cool - thanks!

[2020-04-07 23:42] pmargreff commented on #656
Put it on hold, to much work on internals for my knowledge level, will work on easier ones first ...

[2020-04-09 18:27] binaryseed commented on #886
@benwilson512 Seems like all that's left is a little documentation for the `hydrate` additions, would you say that's right?

[2020-04-09 18:54] benwilson512 commented on #886
@binaryseed I'm trying to finish https://github.com/absinthe-graphql/absinthe/issues/683. In theory it could be a breaking change for anyone who was sending in the right data but accidentally had the wrong variable type specified.

[2020-04-09 18:54] #900 closed

[2020-04-10 15:57] Gazler opened #903 "Dataloader helper for custom run_batch"
Currently when using a custom `run_batch/5` function such as the one from the docs:

https://hexdocs.pm/dataloader/Dataloader.Ecto.html#module-custom-batch-queries
[code]

In order to execute the from a resolver, currently, it requires a resolver like:

[code]
It is possible today to us a helper like this for resolving:

[code]

However there is no way to express the required `item_key` for the da

[2020-04-10 15:59] benwilson512 commented on #903
I think I'd like to avoid a tuple based approach, Dataloader already has a lot of tuple formats. Maybe a map? eg:
[code]

[2020-04-10 16:04] Gazler commented on #903
I'm not against this, I agree tuples can be confusing, especially when you include the optional arguments that can be passed (`{:one, Post, %{published: true}}`). Is `key` and `value` the correct terminology? They are technically both keys. Maybe we could use: `batch_key` and `item_key`?

[2020-04-10 16:39] benwilson512 commented on #903
@Gazler good point, maybe simply `%{batch: batch, item: item}` ?

[2020-04-14 00:13] software-opal commented on #900
I'm sorry I didn't reply sooner, I've tried to upgrade the project I'm working on to the 1.5.0 release candidate, but was not able to get it to work; probably due to some dependencies not being compatible. I wasn't able to track down the cause of the issue in the time I had available.

[2020-04-14 13:06] benwilson512 commented on #900
No worries!

[2020-04-22 14:31] d-led commented on #790
I guess, now one can simply use the GraphQL Mesh to transform an existing endpoint into a Federation-conforming one https://graphql-mesh.com/docs/transforms/federation/

as for stitching, one can do it externally: https://graphql-mesh.com/docs/getting-started/mesh-transforms/#usage-example

also relevant for #387

[2020-04-22 20:13] aaronrenner opened #906 "use Absinthe.Schema no longer declares @behaviour"
### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): 1.5.0-rc.5

### Expected behavior

I'm upgrading an absinthe app from 1.4.16 to 1.5.0-rc.5 and I expected my existing code to work without compilation warnings.

### Actual behavior

I'm getting the following compilation warning in my schema

[code]

### Relevant Schema/Middleware Code

[code]

It

[2020-04-23 11:06] 1player opened #907 "Field names not accepted when using custom language conventions"
### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): 1.5.0-rc.5
* Client Framework and version (Relay, Apollo, etc): Apollo

I've tried migrating my app from 1.4 to the latest 1.5 RC. We're using a custom adapter to convert Elixir's `boolean?` fields to `isBoolean` and viceversa.

Starting the app with 1.5 shows a few errors stating that `Field name

[2020-04-24 16:54] ianko opened #908 "Value as negative integer error"
### Environment

* Elixir 1.9.4 (compiled with Erlang/OTP 22)
* absinthe 1.5.0-rc.5

### Expected behavior

After upgrading `absinthe` from `1.4` to `1.5-pre` I can't use negative numbers as `Enum` values anymore.

[code]

Will throw this error:

[code]

Just for reference, if I change the `value(:downvote, as: -1)` to `value(:downvote, as: 2)`, it works as expected.

### Proposed solution

It see

[2020-04-24 20:53] benwilson512 commented on #908
Ah nice, PR welcome with that fix!

[2020-04-26 16:43] binaryseed commented on #907
Hello! This is happening because of the `Absinthe.Phase.Schema.Validation.NamesMustBeValid` validation phase. It's just implementing the GraphQL spec which only allows a limited set of characters in names.

https://graphql.github.io/graphql-spec/June2018/#sec-Names

You can keep your existing behavior by implementing the `pipeline/1` callback in your `Absinthe.Schema` module, and using `Absinthe.P

[2020-04-26 16:43] #907 closed

[2020-04-26 16:58] binaryseed commented on #886
I just pushed up PRs to fix two issues that have been recently reported:

* https://github.com/absinthe-graphql/absinthe/pull/910
* https://github.com/absinthe-graphql/absinthe/pull/909

[2020-04-27 01:50] #906 closed

[2020-04-27 15:07] margusp2heathmont opened #911 "Subscriptions manual is confusing"
Hello!

https://hexdocs.pm/absinthe/subscriptions.html

To setup Subscriptions using this manual, I am not successful. Errors that I had:

1. MyApp.PubSub vs MyApp.Endpoint - what should be content of both this files
2. MyApp.Web MyAppWeb GitHunt.Web is cross used - should the naming really be like this?
3. Example schema is not valid, as field needs to be in object.

In overall, this manual is re

[2020-04-27 19:22] benwilson512 commented on #911
Hi @margusp2heathmont, please don't use the issue tracker to ask questions. If you can identify concrete errors in the guides then that's fine, but questions should be directed at elixirforum.com or other elixir help sites.

[2020-04-27 19:22] #911 closed

[2020-04-27 19:23] #908 closed

[2020-04-28 17:39] davidye opened #912 "Non-null error behavior inconsistent with GraphQL spec?"
### Environment

* Elixir version (elixir -v): 1.9.4
* Absinthe version (mix deps | grep absinthe): 1.5.0-rc.5
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

I have the following schema:

[code]

When a viewer does not have permission to view a user's email, the resolver returns {:error, :forbidden} which violates the non_null(:string) constraint. According to

[2020-04-28 17:44] davidye commented on #912
Interestingly, I have a separate query where everything works as expected:

[code]

When resolver returns {:error, :forbidden}, the response, the result appears to be correct:

[code]

[2020-04-28 19:22] benwilson512 commented on #912
Interesting, I swear we have a test case to verify error propagation upwards. I'll look into it.

[2020-04-29 23:44] benwilson512 commented on #903
Fixed per PR

[2020-04-29 23:44] #903 closed

[2020-05-01 18:48] zachdaniel commented on #439
An update on the progress of this would be amazing!

[2020-05-05 21:10] #683 closed

[2020-05-05 21:59] benwilson512 commented on #912
Hi @davidye I added a test case here https://github.com/absinthe-graphql/absinthe/commit/b884951532821c77d7bd69bf880c8a858ffc6dae.

This test case seems to reproduce your use case exactly, where you have a nested set of non null fields, and then deep within that a null is returned. The null value propagates all the way up to data.

Happy to reopen if you can provide a test case illustrating the is

[2020-05-05 21:59] #912 closed

[2020-05-05 22:00] benwilson512 commented on #683
Fixed thanks to @billylanchantin's fantastic work in #913!

[2020-05-05 22:06] darrenclark commented on #683
Awesome, thanks @billylanchantin !

[2020-05-06 15:50] benwilson512 commented on #886
Ok! I think Absinthe itself is good to go. Absinthe.Phoenix however needs updates to work with Phoenix 1.5. Technically, we could just go ahead and cut Absinthe 1.5 right now and say that we still only support Phoenix 1.4. I don't really like that though.

I'm working on Absinthe.Phoenix 2.0 which will support Phoenix 1.5. That should be done today. If it isn't done this week we should just go ahe

[2020-05-07 16:24] binaryseed opened #918 "Support `specifiedBy` directive"
There's a new directive that will soon be in the spec for Custom Scalars called `specifiedBy`

https://github.com/graphql/graphql-spec/pull/649

Example:

[code]

[2020-05-12 05:33] dylan-chong commented on #206
Hello, having a free-form json type would be incredible useful for the product at my company. We need to be able to store free-form json in a field called `attributes` in various places. It is currently very awkward/ugly to send through a graphql mutation to create a profile for example:

[code]

It's a little tedious to have to serialise the attributes into a json string before sending the reques

[2020-05-12 14:00] pmargreff commented on #573
@benwilson512 [about this comment](https://github.com/absinthe-graphql/absinthe/issues/573#issuecomment-550305846)

I'm optimizing another unrelated code and replacing `Maps` with `:ets` (at least on my use case it is 40% faster), do you think it can be useful in this situation? If you think it worth I can try submit a POC in future...

[2020-05-12 15:56] bernardo-martinez opened #920 "Meta fileds doesn't get printed with mix absinthe.schema.json"
### Environment

* Elixir version (elixir -v): `Elixir 1.9.1`
* Absinthe version (mix deps | grep absinthe):`absinthe 1.4.16`
* Client Framework and version (Relay, Apollo, etc): none

### Expected behavior

Would be great if we can have the [meta](https://hexdocs.pm/absinthe/Absinthe.Schema.Notation.html#meta/1) fields within the generated objects

### Actual behavior

They are not outputted

###

[2020-05-12 16:07] binaryseed commented on #920
Hi there! The `absinthe.schema.json` task renders result of the standard GraphQL Introspection query:

https://github.com/absinthe-graphql/absinthe/blob/512d12cf40dc53963d306ef68a266817035d7d26/lib/mix/tasks/absinthe.schema.json.ex#L98

The `meta` fields are a concept internal to Absinthe, they aren't part of the GraphQL spec, so this isn't something we will be able to do out of the box...

[2020-05-12 17:43] benwilson512 commented on #206
https://github.com/absinthe-graphql/absinthe/wiki/Scalar-Recipes#json-using-jason

[2020-05-12 18:14] binaryseed commented on #206
That works for the stringified Scalar, but if someone wants the "escape hatch" to send in open-ended input objects, they run into some validation phases that block this.

I don't want the default Absinthe to allow this, but its something we could make easier to opt-in to...

What do you think of that @benwilson512 ?

[2020-05-12 18:46] benwilson512 commented on #206
I'm reasonably certain that a no-op scalar serialize that returns a JSON serializable value will "just work". Should test though.

[2020-05-12 19:05] binaryseed commented on #206
Yes, it does. However, using it as an Input does not work...

[2020-05-12 19:36] benwilson512 commented on #206
Ah yeah, but that is rather different. GraphQL object syntax isn't JSON. I'm willing to reconsider my stance on whether scalars should be allowed to receive arbitrary GraphQL syntax as inputs, but there simply _is no way_ to have a raw JSON input.

[2020-05-12 19:54] binaryseed commented on #206
Yes, I also think calling it JSON is very misleading, since JSON is just a serialization format. I would never consider literal JSON inline inside GraphQL, but more like enabling a server to opt-in to accepting open-ended input object structures (wether it's inline in GraphQL or via variables).

My server for example replaces 3 phases with modified versions to allow a small list of scalars to be o

[2020-05-12 20:06] dylan-chong commented on #206
Oh true, about the JSON thing. I was thinking in terms of a js graphql library. But the need for an open ended input type as @binaryseed mentions still remains. It would be greatly appreciated if this could be implemented.

[2020-05-13 12:30] bernardo-martinez commented on #920
Oh I see, thanks man so I will close this as this is no part of graphql spec...

[2020-05-13 12:30] #920 closed

[2020-05-14 19:47] benwilson512 commented on #886
We did it, it's out!

[2020-05-14 19:47] #886 closed

[2020-05-14 20:01] binaryseed commented on #886
Amazing!!

[2020-05-14 20:34] dylan-chong commented on #206
Another thing to point out is that with the `JSON` type you submit a string as input, but the output is a json object. That's a little inconsistent.

If you would like some help on this issue I would love to help out :)

[2020-05-14 22:15] AntJanus opened #921 "Max integer size in Absinthe is much larger than GraphQL's"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): 1.8.2
* Absinthe version (mix deps | grep absinthe): 1.4.16
* Client Framework and version (Relay, Apollo, etc): N/A -- using a custom-built client

### Expected behavior

When entering an integer bigger than the largest supported number by a 32-bit integer, Absinthe should return that it's an invali

[2020-05-14 22:25] benwilson512 commented on #921
Hi @AntJanus, you are absolutely right :)

Making this change is a little tricky. I'd like to find a way to deprecate and warn people via a patch release, with the aim to remove support for integers large than 2^32 in a 1.6 release. If we have users that are accidentally relying on this support right now, I don't want to break their applications in a patch release.

[2020-05-15 00:06] AntJanus commented on #921
@benwilson512 is that something I could help with? I'd love to give back since we use Absinthe heavily at work :) (slowly rewriting our backend APIs with it).

[2020-05-15 21:00] pmargreff commented on #314
@benwilson512 this issue can be closed!

[2020-05-15 22:44] #314 closed

[2020-05-15 23:17] BlueHotDog commented on #903
Hey, just tried that and i'm super confused, whats the final syntax? where is it documented?

[2020-05-16 19:20] hickscorp opened #922 "Weird `nil` type behaviour for some mutation in 1.5rc."
Up until now, we were using absinthe latest `pre` version and everything was working fine.
We are trying to upgrade to the RC and we're getting some cryptic error while running the following mutation:

[code]

The input looks like so:

[code]
When running this mutation against the endpoint, we get the following stack trace:

[code]

We tried following the stack trace down, basically in the `Variab

[2020-05-17 10:26] jayjun commented on #922
Encountered in 1.5.0. To reproduce, set a variable type to a non-null input object that does not exist.

[code]
[code]

In this example, `Episode` is not defined on schema.

[2020-05-17 11:17] hickscorp commented on #922
@jayjun Correct!

In our case, `LinkEmailInput!` is incorrect, and should read `LinkEmailAddressInput!`.

[2020-05-17 13:11] benwilson512 commented on #922
Fixed via #923, v1.5.1 is out, thanks folks!

[2020-05-17 13:11] #922 closed

[2020-05-19 15:31] dmarkow opened #925 "Error "extensions" handling doesn't match spec"
The [GraphQL Spec](https://spec.graphql.org/June2018/#sec-Errors) provides information on how errors should be structured, which includes the `message`, `locations`, and `path` keys. The spec then states that anything additional should be nested under an `extensions` key rather than added at the top level, the reasoning being that future revisions to the spec may add additional keys that could con

[2020-05-19 15:32] benwilson512 commented on #925
Hi @dmarkow good catch. This behaviour exists from before extensions were part of the GraphQL spec. I'm fine aiming to change this in 1.6, with the aim to create some kind of warning in a 1.5.x release.

[2020-05-20 01:17] derekbrown opened #926 "[Bug] PersistentTerm Argument Error In Releases"
### Environment

* Elixir version (elixir -v): Elixir 1.9.1 (Erlang/OTP 22)
* Absinthe version (mix deps | grep absinthe): 1.5.0
* Client Framework and version (Relay, Apollo, etc): n/a

### Expected behavior

Persistent Term schema loads in build released with `mix release`

### Actual behavior

Released build results in following error:
[code]

### Relevant Information

- Unreleased application

[2020-05-20 20:36] gabrielpra1 commented on #634
Hey @benwilson512, the issue still seems to be happening in 1.4.16, only when importing outside the schema:

This compiles without a problem:

[code]

This gives an error:

[code]

[2020-05-20 21:19] gabrielpra1 opened #927 "Meta shortcut syntax does not work for field"
### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): 1.5.1
* Client Framework and version (Relay, Apollo, etc): Not relevant

### Expected behavior

The following syntax was working in 1.4.16, however after updating to 1.5.1, it no longer works:

[code]

### Error

[code]

Using the `meta/1` syntax still compiles, though:

[code]

[2020-05-20 22:37] gabrielpra1 opened #928 "Providing functions to meta no longer works"
### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): 1.5.1
* Client Framework and version (Relay, Apollo, etc): Not relevant

### Expected behavior

I expected the following to work (works in 1.4.16):

[code]

When inspecting the `meta[:private]` field in 1.4.16, in a middleware:

[code]

I get the function: `#Function<5.7636899/1 in Rajska.FieldAuth

[2020-05-21 00:14] benwilson512 commented on #634
We are not doing bug fixes for 1.4 sorry.

[2020-05-21 15:34] hickscorp opened #929 "Insert middleware "just before" Absinthe.Resolution one."
Hello,

Please note that this entry is for a feature request as outline with an earlier conversation with @benwilson512, it is not a bug.

Imagine the following scenario.

A middleware definition that adds a `Authorize` module globally for all `%Object{}` resolutions:

[code]

And then within the schema definition, somewhere in a mutation, a `Fetch` middleware module such as something like this:

[2020-05-21 17:41] sgtpepper43 opened #930 "1.5 changelog is possibly missing a breaking change related to starting subscriptions"
There was a change to the docs between 1.4 and 1.5 [here](https://github.com/absinthe-graphql/absinthe/commit/72ef10684970f3552077dd2277d730999c8686b5) where starting the Subscription worker changed from
[code]
to
[code]
We just bumped to 1.5, and got a cryptic `no function clause matching in :elixir_aliases.do_concat/2` error, and eventually realized this was the problem. I don't know exactly _wh

[2020-05-21 17:59] benwilson512 commented on #930
Hi @sgtpepper43, I think we should probably just do a patch to 1.5 to enable both. Will handle.

[2020-05-24 15:44] praveenperera commented on #730
For anyone getting here by searching the error:

I had the same thing because for some reason I had both in me `schema.ex`

This was compiling with Absinthe 1.4

[code]

For me I had to just remove: ` use Absinthe.Schema.Notation`

[code]

[2020-05-26 15:02] bjunc opened #935 "Providing function to descriptions no longer works"
### Environment

* Elixir version (elixir -v): `Elixir 1.9.1`
* Absinthe version (mix deps | grep absinthe): `1.5.1`
* Client Framework and version (Relay, Apollo, etc): `n/a`

### Expected behavior

Previously (eg. `1.4.16`), I could pass a function to a field's description. We do this since many fields share the same description, and it keeps things dry (eg. objects and input objects often have

[2020-05-26 23:12] derekbrown commented on #926
Circling back here. Tried to fix myself by switching the `ensure_loaded?` checks to `ensure_loaded` checks (in both `persistent_term.ex` and `populate_persistent_term.ex`) to no avail. Was hoping to submit a PR for this. After trying to debug in release mode, it seems as if the schema isn't _put_ into persistent_term storage when released? Any reason why this would be?

[2020-05-27 01:34] benwilson512 commented on #926
Hey folks, can you all try https://github.com/absinthe-graphql/absinthe/pull/936 and see if it fixes your issue?

[2020-05-28 01:51] derekbrown commented on #573
Is there a reason this is closed? I haven't seen a clear cut answer and seems very related to some issues that I've seen as well and posted about on the Elixir Forum here: https://elixirforum.com/t/absinthe-graphql-performance-issues/31746/9.

I do agree with @pmargreff that the biggest bottleneck seems to be `Elixir.Absinthe.Phase.Document.Execution.Resolution'.

[2020-05-28 02:03] benwilson512 commented on #573
@derekbrown There isn't an issue with here. In one case, there was an issue with dataloader that unnecessarily called inspect, that has been fixed. In another case, the resolution function was calling a bcrypt function which is intentionally slow.

The resolution phase will always be the slowest phase, it's the phase that runs your resolution functions. Using this issue to discuss all scenarios wh

[2020-05-28 02:07] derekbrown commented on #573
@benwilson512 No worries! Different repos use issues differently; just didn't see a comment as to why this in particular was closed, and saw relatively recent comments about resolution performance so thought it relevant. Thanks for clarifying!

[2020-05-28 12:25] fuelen opened #937 "import_types breaking change"
### Environment

* Elixir version (elixir -v): 1.10
* Absinthe version (mix deps | grep absinthe): absinthe 1.5.1

### Expected behavior
[code]
imports types from MyApp.Schema.Types.Users and from MyApp.Schema.Types.Posts.
Absinthe 1.4.16 works fine with this kind of import
### Actual behavior
[code]
[code]
^
works correctly

[2020-05-30 09:29] bottlenecked opened #939 "Introspection query breaks in the presence of query filters with default value"
### Environment

* Elixir version (elixir -v):
[code]
* Absinthe version (mix deps | grep absinthe):
`1.5.1`
* Client Framework and version (Relay, Apollo, etc):
`/graphiql`

### Relevant Schema/Middleware Code

Suppose the following schema
[code]

### Expected behavior

* The introspection query sent by the client should not break (and when it breaks auto-completion is no longer available), since

[2020-06-04 21:31] jeroenvisser101 commented on #939
Possibly related/fixed by #933, as it also adds a way to define UndefinedValue as default.

[2020-06-08 01:46] jonatanklosko opened #941 "[Enum] Default value not interpreted properly in case of keyword list"
Given the following enum definition

[code]

and the following field with a default enum argument

[code]

I get the following error

[code]

### Reason

https://github.com/absinthe-graphql/absinthe/blob/00601ffc3aac8f0ce989113330213ede70c66bbf/lib/absinthe/phase/schema/validation/default_enum_value_present.ex#L37-L38

The above call to `List.wrap` does nothing in case of `[asc: :inserted_at]`, bu

[2020-06-08 13:16] moperacz commented on #927
any news about this?

[2020-06-08 13:16] moperacz commented on #928
any news about this?

[2020-06-08 13:28] lstrzebinczyk opened #942 "Please include information about testing subscriptions in the docs"
Hi!

I am having a lot of troubles trying to write tests for my subscriptions. I'd like to test that when a user performs some mutations, he receives data back in subscription. I can't find a good place that describes that anywhere. There is this: https://github.com/gen1321/anise, but it is for 1.4, other than that there is hardly any information anywhere.

So I ask you, how am I supposed to test

[2020-06-09 09:06] sheharyarn opened #945 "Bug: Calling methods in enum values fails to compile"
### Environment

**Elixir:** v1.9.2 (compiled with Erlang/OTP 20)
**Absinthe:** v1.5.1

### Relevant Code

Since upgrading to Absinthe 1.5, I can no longer call functions in `value/2`'s attribute in the enum do block:

[code]

Where the `name()` methods above just return plain strings.

### Expected behavior

For the application to compile and work correctly. The above code was working for me unti

[2020-06-09 09:33] sheharyarn opened #946 "Use compile-time functions or module attributes in schemas"
### Environment

**Elixir:** v1.9.2 (compiled with Erlang/OTP 20)
**Absinthe:** v1.5.1

### Overview

When using module attributes or functions in `enum`, the code fails to compile. This bug was previously recorded in #448 and was marked resolved in `master` and closed, but after upgrading to Absinthe 1.5 still doesn't work.

This is different from #945 where functions could previously be called i

[2020-06-09 09:36] sheharyarn commented on #448
This is still not working in Absinthe 1.5 and neither are the workarounds. Opened #946 to track this.

[2020-06-11 07:31] marctrem commented on #937
I have experienced the same regression.

[2020-06-15 14:22] maartenvanvliet commented on #903
Given the example in the first post the following should work with the new syntax:

[code]

[2020-06-17 10:37] ymtszw opened #949 "Order of arguments are reversed in schema.graphql generated by absinthe.schema.sdl task"
### Environment

* Elixir version (elixir -v):
[code]

* Absinthe version (mix deps | grep absinthe):
[code]
* Client Framework and version (Relay, Apollo, etc):
Not directly applicable, but we're using [dillonkearns/elm-graphql](/dillonkearns/elm-graphql) for code generation from `schema.graphql` file.

### Expected behavior

When we generate `schema.graphql` file using `mix absinthe.schema.sdl`

[2020-06-18 14:50] ymtszw commented on #949
Progress so far:

Reversing order of arguments here makes OP schema to be rendered in desirable way.
[code]

However, it breaks in another path: schema module generated from importing literal SDL.
It is tested in test/absinthe/schema/sdl_render_test.exs

[code]

Basically it expects inspection on `Absinthe.Blueprint` (`Absinthe.Schema.to_sdl/1`) returns imported SDL as-is, which is understandable

[2020-06-22 12:15] #949 closed

[2020-06-22 16:59] lstrzebinczyk opened #953 "Feature proposal: Subscription presence"
I would like to suggest a new feature, like me and @benwilson512 discussed in the slack.

Phoenix proper allows managing presence per-channel with Phoenix.Presence. Absinthe currently lacks such feature, and it would be very beneficial to have something similiar.

Currently the only way for any application to support presence is to add a non-absinthe channel to the backend and ask frontend to join

[2020-06-23 01:01] benwilson512 commented on #953
Right, so the main challenges to solve are: How are subscription topics mapped to presence topics?

[2020-06-23 11:04] lstrzebinczyk commented on #953
So I think this can be approached in 2 ways.

1) If we can map each absinthe subscription to it's own phoenix channel, we could do something like this:
(based on https://hexdocs.pm/absinthe/subscriptions.html#schema)

[code]

This would require changing how subscriptions are done under the hood, but it would allow
using of Phoenix.Presence, and `join` and `terminate` callbacks can be easily explai

[2020-06-24 12:58] #941 closed

[2020-06-26 11:31] mayel commented on #772
What is missing to get extend functionality?

[2020-06-26 13:53] benwilson512 commented on #772
@mayel basically everything. The parser works I think, but we need a first class entity to model the extension values, and then compilation phases to integrate them in.

[2020-06-26 13:58] mayel commented on #772
Thanks. And this PR doesn't do any of that?  https://github.com/absinthe-graphql/absinthe/pull/821

[2020-06-26 17:33] binaryseed commented on #772
No, my PR was more of a shortcut, but that turned out not to be sufficient since it didn't treat the extension as a first class concept with structs / etc. It'll probably still be helpful but it needs a different approach

[2020-06-29 19:40] ryanwinchester commented on #387
What kind of work needs to be done to support federation?

Either with Apollo in front, or providing a similar functionality without it.

Is there currently any way to get this working at all?

[2020-06-29 19:44] d-led commented on #790
update: stitching has gotten easier: See an example here https://github.com/d-led/graphql_mesh_federation_test. Adding federation might have gotten better as well

[2020-07-07 15:47] thojanssens opened #956 "Time in ISO format not accepted"
Passing a valid ISO time like "22:15" to Absinthe gives the following error:

https://en.wikipedia.org/wiki/ISO_8601#Times

Can we allow to pass a time in the [hh]:[mm] format?

[2020-07-07 15:49] benwilson512 commented on #956
Hi @thojanssens the absinthe type utilizes the built in `Time.from_iso8601`. I recommend you take this up with the elixir standard library, or use your own time scalar.

[2020-07-07 15:49] #956 closed

[2020-07-10 08:23] samuelmanzanera opened #957 "Memory leak with hexadecimal on mutation"
### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): absinthe 1.5.2
* Client Framework and version (Relay, Apollo, etc): fetch

### Expected behavior

I have a GraphQL Endpoint which expected some parameters in a mutation as hexadecimal.

### Actual behavior

The thing is when I want send the mutation with the some hex around 8, 9 MB, the server seem

[2020-07-10 12:41] pmargreff commented on #957
Hello @samuelmanzanera, Absinthe is not efficient on a matter of memory, mainly because it expands your interactions (mutations and queries) to an AST.

First, when you say leak, you say it gets the memory, and even after your response is sent it doesn't release this chunk of memory? or it only captures the memory while your request is being processed?

If it's the second case, the point is how Ab

[2020-07-10 12:58] samuel-uniris commented on #957
Thanks. Yes Indeed it's more the second case. While the request is processed (even without resolver job or functions calls) the memory is rising.

So force to admit is in the absinthe internals that they have multiple operations on top of that memory allocation. Which explained probably the binary heap increase.

It will provide a repo example but the most of it is showed in the example I provided

[2020-07-10 13:07] benwilson512 commented on #957
While sort of true, it shouldn't use 1gb for a simple query.

As a minor note @samuel-uniris your example is invalid, you have an object type as an input. It also references a `hash` scalar which is different from the presented `hex` scalar.

Here is a complete example I ran based on your code:

[code]

This returned immediately and did not lead to any memory growth.

Are you sure this is related

[2020-07-10 13:18] samuelmanzanera commented on #957
Thanks @benwilson512 to correct me. I updated the example.
For the resolution I didn't include this parameter inside the resolver.

Did you try with much more data like few MB ?
Otherwise is it possible the issue is coming from the http layer ? Plug ?

[2020-07-10 13:22] benwilson512 commented on #957
Sure, I created a random string 1mb long and then base16 encoded it to create a hex_val 2mb long:
[code]

It also worked fine. It's hard to say where the issue is coming from. Can you reproduce this locally?

[2020-07-10 13:51] samuel-uniris commented on #957
Locally I do not repoduce it with the Absinthe library only, so I suppose with HTTP layer it may produce the bug.
So maybe about Absinthe.Plug.Parser.

[2020-07-10 14:05] benwilson512 commented on #957
If you can provide a reproduceable example I'm happy to look into it more.

[2020-07-10 14:05] #957 closed

[2020-07-14 06:09] tlvenn opened #958 "Inlined meta(s) do not work with field macro anymore"
Trying to upgrade our app / schema to the latest 1.5 release (still using 1.4 for now) and I got a compilation error in our schema regarding the usage of meta with field such as:

[code]

The error:
[code]

Might be related with #928

[2020-07-14 12:46] jeroenvisser101 commented on #958
It's for sure related to #927

[2020-07-14 13:59] benvp commented on #946
I just had the same issue using a macro defined directly inside the type module but if I extract it into it's own module and define the macro there it does compile properly.

[code]

[2020-07-20 05:49] juddey commented on #937
As have I

[2020-07-23 04:55] jacobparry opened #960 "Absinthe.Relay.Node.ParseIDs causes runtime error if occurs more than once in a mutation query"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v):
elixir         1.10.2
erlang         22.3.4.1

* Absinthe version (mix deps | grep absinthe):
absinthe (Hex package) (mix) locked at 1.5.2 (absinthe) 669c8487
absinthe_relay (Hex package) (mix) locked at 1.5.0 (absinthe_relay) 173cc44c
absinthe_sorting_codec 1.0.0 (Hex package) (mix) locked at 1.0.0

[2020-07-23 12:52] benwilson512 commented on #960
Got it. So when calling `ParseIds` on the connection field it's expecting things to be nested under `input` as if it were a payload field. Looking into it.

[2020-07-23 13:26] jacobparry commented on #960
@benwilson512 This seems to only happen from mutation payload fields. Regular queries don't appear to be affected.

[2020-07-27 15:34] jacobparry commented on #960
@benwilson512 This looks to be duplicated here: https://github.com/absinthe-graphql/absinthe_relay/pull/150

Absinthe Relay is the correct place for this bug, so I'm going to move my comments there.

[2020-07-27 15:34] #960 closed

[2020-07-29 06:43] bigardone commented on #953
👋 Hi @lstrzebinczyk @benwilson512
I'm also facing the same problem, in which I need to track subscriptions presence. The second solution, without the socket, would be very convenient to use with [Phoenix.Tracker](https://hexdocs.pm/phoenix_pubsub/Phoenix.Tracker.html), which does not need the socket. What do you think?

[2020-07-29 11:52] lstrzebinczyk commented on #953
I think all we need is a callback we can overwrite for when user is joining the websocket connection, If that was available, any tool can be used.

[2020-07-30 05:13] sheharyarn commented on #946
Wanted to confirm @benvp's recommendation. An absinthe codebase where I had defined it within the same module did not work, but works in a different project where I was importing a custom helper from another module:

[code]

[2020-08-01 03:01] mattbaker opened #961 "Inline string arguments appear to be unescaped twice"
### Environment

* Elixir version (elixir -v): `Elixir 1.10.1 (compiled with Erlang/OTP 22)`
* Absinthe version (mix deps | grep absinthe): tested against `1.5.0-rc.4` and `master`
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

Given a query with an inline string argument like so:

[code]

We would expect the resolver to receive the string `\\FOO`.

### Actual beh

[2020-08-01 19:45] bruce commented on #961
@mattbaker Thanks for reporting this. I have to do some investigation, but if it's true double processing is occurring, I agree with your assessment that the lexer should handle it (in the very least because that code is easier to reason about).

[2020-08-01 20:12] mattbaker commented on #961
Awesome, and let me know if I can help somehow!

[2020-08-07 13:35] wpiekutowski commented on #942
@lstrzebinczyk here's a short example: https://gist.github.com/wpiekutowski/8e4de4b9c8253584765ca0106c190dad. Let me know if that works for you.

[2020-08-09 21:16] bruce opened #963 "Switch to Actions matrix testing"
We should look at switching the test suite to use GitHub Actions w/ Elixir & OTP matrix testing.

I'll look at converting over the Travis CI setup over the next week or so.

[2020-08-14 20:30] dlindenkreuz opened #964 "Node flags are not available in resolver"
### Environment

* Elixir version (elixir -v): Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Absinthe version (mix deps | grep absinthe): 1.5.2
* Client Framework and version (Relay, Apollo, etc): n/a

### Expected behavior

When using `Blueprint.put_flag` on a field definition as part of expanding a directive, that flag should be accessible in the resolver later on.

### Actual behavior

In the r

[2020-08-26 17:45] johnshaughnessy opened #966 "Hexdocs html has broken links to markdown files"
The absinthe docs on hexdocs have broken links pointing to markdown files. (Example: The link with text, "add arguments to our queries" in the following section: https://hexdocs.pm/absinthe/our-first-query.html#next-step )

The opposite problem exists for people reading the markdown files on github, and was partially addressed in this PR: https://github.com/absinthe-graphql/absinthe/pull/955/files

[2020-08-31 00:22] tlvenn commented on #958
Hi @benwilson512 , is there any chance you would have a little bit of spare time to look into this ? Thanks a lot in advance.

[2020-09-04 12:57] chess4ever opened #967 "Raise compile time Error if field type is not provided"
### Environment

* Elixir version (elixir -v): 1.10.3
* Absinthe version (mix deps | grep absinthe): 1.4.16

### Expected behavior

Raise compile time Error or give some kind of warning.

### Actual behavior

It silently ignores the field declared without the type.

### Relevant Schema/Middleware Code
[code]

[2020-09-04 12:59] benwilson512 commented on #967
Hi @chess4ever, this is no longer an issue on 1.5.

[code]

[2020-09-04 12:59] #967 closed

[2020-09-10 10:29] youroff commented on #946
Is there a good reason to capture `values` as AST at all in this case? But anyways, here's our dirty but compact workaround:

[2020-09-11 16:08] calebmer opened #969 "Current recommendation for ordered results in GraphQL response"
Absinthe orders GraphQL responses alphabetically, I’d like to order responses in query order (at least in dev) to improve readability. It looks like there’s a lot of conversation on this topic:

- https://github.com/absinthe-graphql/absinthe/issues/352
- https://github.com/absinthe-graphql/absinthe/pull/445
- https://github.com/absinthe-graphql/absinthe_tutorial/pull/1

Is the current recommendati

[2020-09-17 16:50] PhilWaldmann commented on #939
Bug is not fixed yet.
I think it has something to do with this [line](https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/type/built_ins/introspection.ex#L331). It should provide the `default_value` of the input object's field as the last argument for `render_default_value`. But instead it's using the default value of the parent input object.

[2020-09-30 01:09] tlvenn commented on #958
Fixed with #973

[2020-09-30 01:09] #958 closed

[2020-09-30 01:09] tlvenn commented on #927
Fixed with #973

[2020-09-30 01:09] #927 closed

[2020-09-30 01:12] tlvenn commented on #928
Hi, I am wondering if the work @Hermanverschooten did to fix meta on fields would not actually fix this issue as well. Can you try to reproduce on master ? Thanks.

[2020-09-30 06:44] benwilson512 commented on #928
@tlvenn do functions work if you use the persistent term backend?

[2020-10-05 15:51] matehat opened #976 "Bug: inconsistent generated object field name, when including numbers"
### Environment

* Elixir version (elixir -v): 1.10.4
* Absinthe version (mix deps | grep absinthe): 1.5.3
* Client Framework and version (Relay, Apollo, etc):

### Expected behavior

Given an object like this:

[code]

When running `mix absinthe.schema.sdl`, it generates a schema like this:

[code]

When using it in a query (NodeJS's `graphql` package),

[code]

with variables:

[code]

It was su

[2020-10-05 16:11] benwilson512 commented on #976
The issue is that Absinthe relies on the built in `Macro.underscore` and `Macro.camelize` functions, and these functions are not inverses of one another. Specifically, both of these inputs result in the same output:

[code]

However, if you pass this output into `underscore`, you only get a specific one of those back:

[code]

Thus in your schema you need to do: `field(:area_level2)`. This way, wh

[2020-10-05 16:11] #976 closed

[2020-10-05 16:30] matehat commented on #976
@benwilson512 Any idea why the `name:` argument could not be taken into account? Isn't there a way to force absinthe to use a certain name in GraphQL?

[2020-10-05 16:56] benwilson512 commented on #976
This is something we hope to address in a 2.0 release. In 1.X, the mapping of external values to internal values is handled via Adaptors. You can plug your own adapter in that does the mapping any way you like. The theory is that you can use one schema on multiple endpoints, each with different camelcase / underscore conventions, instead of hardcoding into the schema. See https://hexdocs.pm/absint

[2020-10-05 19:30] gabrielpra1 commented on #928
@tlvenn I tried it again with the master version and still getting the same error, both when using the shortcut syntax and the `meta/1` syntax 😢

I still not sure if this is how it's supposed to work, but I fixed my problem by evaluating the AST at runtime before trying to execute the function: https://github.com/jungsoft/rajska/pull/30/commits/01f716a3e96761b2acdbc123c0a831b68f63d82c.

@benwilson

[2020-10-12 19:48] emeryotopalik opened #977 "SDL generation task doesn't render interfaces"
### Environment

* Elixir version (elixir -v): all
* Absinthe version (mix deps | grep absinthe): 1.5 or less

### Expected behavior

I would expect interfaces to be rendered like:
[code]

### Actual behavior

It renders:
[code]

[2020-10-12 20:36] emeryotopalik commented on #977
I outlined a failure case in the tests: https://github.com/absinthe-graphql/absinthe/compare/master...emeryotopalik:failing_sdl_generation

[2020-10-12 23:38] dylan-chong commented on #946
I'm actually going to have a go at making a PR to get the old 1.4 behaviour back (Being able to evaluate the functions at compile time)

@benwilson512 Do you remember why you decided to with the `hydrate` solution in 1.5, removing eval capabilities?

[2020-10-17 15:20] mz2 opened #981 "Report a maximum of one error per field in error response"
I may be misunderstanding something, but the error response behaviour in Absinthe appears to contradict the GraphQL spec. In https://github.com/absinthe-graphql/absinthe/blob/master/guides/errors.md it is stated that:

However, in the GraphQL specification (http://spec.graphql.org/June2018/#sec-Errors-and-Non-Nullability) the expected behaviour is stated as follows:

### Environment

The erroneous

[2020-10-18 16:17] benwilson512 commented on #981
Hi @mz2! I believe two things here:

1) It is quite possible that you are right, and that in all cases, only one error should be reported per field.
2) The part of the spec you are quoting does not say that.

The part of the spec you are quoting is explicitly about the situation of adding a nullability violation error. That is, if you have a field that is marked `non_null` in the schema, but you r

[2020-10-19 23:51] dylan-chong commented on #946
I've had a go at making 1.5 eval code. My solution was to disable the explicit raises in notation.ex when a value is a tuple (e.g. a function call AST), marking it with metadata, and  in compile.ex in `build_types`, walk the AST and `Code.eval_quoted` any marked nodes can get expanded out. Can elaborate more on this later if needed

The problem with the approach is that compile.ex puts the resulti

[2020-10-21 02:13] benwilson512 commented on #946
@dylan-chong another option would be to use `{:unquote, [], [val]}` more liberally so that the unquote ends up happening in the `Blueprint` module.

[2020-10-21 20:55] dylan-chong commented on #946
Oh that's a neat trick! Any thoughts on the `YourSchema.Compiled` comment?

[2020-10-22 15:54] benwilson512 commented on #946
@dylan-chong If you use `{:unquote` it won't be an issue because it gets unquoted inside the `__absinthe_blueprint__` function which remains inside the `YourSchema` module instead of the `YourSchema.Compiled` module.

[2020-10-22 22:00] dylan-chong commented on #946
Holy crap you're right! That's magical! 🙏
Tests for local function calls and module attributes are working! Amazing!
The test file is not compiling for this:

    value :module_function_call, as: -1, description: Absinthe.Type.EnumTest.hello("Bobby")

Is this because the nested module (TestSchema) is compiled before the outer module (EnumTest)?
Do we need some sort of `Code.ensure_compiled?` check

[2020-10-22 23:55] benwilson512 commented on #946
@dylan-chong Yes that is why, and no that can't be avoided. All functions called within the schema must exist in modules outside the schema, and outside any modules that wrap the schema.

[2020-10-26 21:20] dylan-chong commented on #946
Interesting. Thanks, I'll try and put up a PR in the next couple weeks with some tests too

[2020-10-30 21:22] #977 closed

[2020-10-30 21:22] binaryseed commented on #977
Thanks!

[2020-10-31 04:18] binaryseed commented on #963
Done in #985

[2020-10-31 04:18] #963 closed

[2020-10-31 04:18] binaryseed commented on #961
Fixed in #962

[2020-10-31 04:18] #961 closed

[2020-10-31 20:03] thebigredgeek commented on #601
This is still an issue

[2020-11-02 16:57] neslinesli93 opened #986 "Block introspection query on Absinthe layer"
Hi, I am trying to upgrade to Absinthe 1.5 and I've stumbled upon an issue regarding the introspection query. So far I've been using a middleware to block the introspection query, but since [this PR](https://github.com/absinthe-graphql/absinthe/pull/893) it doesn't work anymore: the middlewares are invoked at compile-time with all my queries, mutations and types and the introspection query is not

[2020-11-02 17:32] nickdichev opened #987 "Nullable interface fields cannot have their implementing sub-type be non-nullable."
### Environment

* Elixir version (elixir -v): Elixir 1.11.1 (compiled with Erlang/OTP 23)
* Absinthe version (mix deps | grep absinthe): absinthe 1.5.3 (Hex package) (mix)
* Client Framework and version (Relay, Apollo, etc):  N/A getting compilation error

### Expected behavior

The schema compiles and the implementing sub-type is valid.

### Actual behavior

Compilation error

[code]

### Releva

[2020-11-04 17:28] stavro commented on #928
Duplicate issue that was already closed for this: https://github.com/absinthe-graphql/absinthe/issues/737

I still think it's a valuable property to keep, but apparently the complexity wasn't worth it, from @benwilson512 .

[2020-11-05 13:42] benwilson512 commented on #928
Hey folks. I believe as we prep to switch to using `:persistent_term` as the backend in the next release this will be come possible.

[2020-11-09 20:35] Hajto opened #989 "Import fields includes introspect fields"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): 1.10.2
* Absinthe version (mix deps | grep absinthe): 1.5.3
* Client Framework and version (Relay, Apollo, etc): none, tested on graphiql

### Expected behavior

[code]

### Actual behavior

[code]

__typename is present in the type

### Relevant Schema/Middleware Code

[code]

[2020-11-10 07:10] tlvenn opened #990 "Interface can now implement other interfaces"
In the latest working draft, interfaces can now implement other interfaces 🎉

I was not sure exactly which version of the spec we are targeting, the readme says working draft so if that's indeed the target, it seems we are missing this but I somehow suspect we were targeting the previous working draft.

In any case, it would be awesome to support this asap.

[2020-11-11 21:34] binaryseed commented on #926
Feel free to re-open if you continue to see this issue after the fix above...

[2020-11-11 21:34] #926 closed

[2020-11-11 21:38] binaryseed commented on #986
Can you describe what it is that you are trying that does not work?

[2020-11-14 04:40] Un3qual opened #991 "Discussion about improving Dataloader"
I am currently experiencing an issue with Dataloader, where a deeply nested field has its query run multiple times because its parent also has to be resolved with Dataloader. In exploring to try and fix it, I realized it may require rearchitecting how Absinthe resolves fields. I'm not as familiar with absinthe's internals as I am with Dataloader's, so I'm hoping someone from this repo with more kn

[2020-11-14 13:49] benwilson512 commented on #991
@Un3qual very interesting ideas, but please see my post on the other issue.

[2020-11-14 13:49] #991 closed

[2020-11-19 23:55] michaljanocko commented on #387
Any updates on this problem? I feel like this is the main deal-breaker for adopting Elixir and Absinthe for most people.

[2020-11-20 00:39] binaryseed commented on #387
I've posted this in the various Issues but perhaps not this one... We did open source an example schema stitching application:

https://github.com/newrelic/absinthe-schema-stitching-example

Building this kind of support into absinthe core is unlikely, but with the flexibility of absinthe as-is, it's possible to accomplish.

[2020-11-27 06:32] binaryseed commented on #986
I'd recommend using a `@pipeline_modifier` in your schema module..

Here's an example test that demonstrates modifying introspection:

https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/manipulation_test.exs#L235

[2020-11-27 06:32] #986 closed

[2020-11-27 06:50] binaryseed commented on #969
We don't have a more up to date example, but would still recommend using the general approach of replacing `Absinthe.Phase.Document.Result` phase.

[2020-11-27 06:50] #969 closed

[2020-11-27 08:05] binaryseed commented on #966
This should be fixed in https://github.com/absinthe-graphql/absinthe/pull/993

[2020-11-27 08:05] #966 closed

[2020-11-27 20:35] binaryseed commented on #945
Hello! Here's an example of doing this with `hydrate` in the absinthe tests:

https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/hydrate_dynamic_values_test.exs

[2020-11-27 20:35] #945 closed

[2020-11-27 20:37] binaryseed commented on #946
Hi folks, here's an example of dynamic values using `hydrate`:

https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/hydrate_dynamic_values_test.exs

Hopefully this addresses the various needs in this thread...

[2020-11-27 20:37] #946 closed

[2020-11-27 20:45] binaryseed commented on #937
Does anyone have a minimal reproduction case?

[2020-11-27 20:50] binaryseed commented on #935
This can be accomplished in 1.5 using `hydrate`. Here's an example of dynamic Enum value hydration in the absinthe tests:

In your case, you can set the description:

[code]

Documented here: https://hexdocs.pm/absinthe/Absinthe.Schema.html#c:hydrate/2

[2020-11-27 20:50] #935 closed

[2020-11-27 20:53] binaryseed commented on #928
This can be accomplished in 1.5 using `hydrate`. Here's an example of dynamic Enum value hydration in the absinthe tests:

https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/hydrate_dynamic_values_test.exs

In your case, you can set the meta:

[code]

Documented here: https://hexdocs.pm/absinthe/Absinthe.Schema.html#c:hydrate/2

[2020-11-27 20:53] #928 closed

[2020-11-27 20:56] binaryseed commented on #486
Closing this since it's covered by `extensions`...

[2020-11-27 20:56] #486 closed

[2020-11-28 01:09] binaryseed commented on #439
Absinthe 1.5 has been out for a while, so I'm closing this issue!  If there are particular ideas / features that folks have that aren't addressed, please feel free to open new issues.

There's a number of tests showing dynamic schema generation, including this one that adds custom introspection fields and types:

https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/manipul

[2020-11-28 01:09] #439 closed

[2020-11-28 01:19] binaryseed commented on #930
I believe this was fixed in https://github.com/absinthe-graphql/absinthe/pull/936/files#diff-31a502606090ff98e0c793579dcf490c4dac9cf4bee60a22b4cac9cda4b4fe9d

[2020-11-28 01:19] #930 closed

[2020-11-28 02:05] binaryseed commented on #929
Seems like this could be further simplified using `Enum.split_while/2`, perhaps something like:

[code]

Given that, I'm going to close this issue - looks like everything needed to accomplish this is already in place :)

[2020-11-28 02:05] #929 closed

[2020-11-28 03:56] binaryseed commented on #939
Fixed in https://github.com/absinthe-graphql/absinthe/pull/998

[2020-11-28 04:01] #939 closed

[2020-11-28 04:20] binaryseed commented on #728
I can't seem to reproduce this, so I'm closing the issue. If you are finding it still is a problem in 1.5, please let us know and provide a reproduction case... Thanks!

[2020-11-28 04:20] #728 closed

[2020-11-28 04:24] binaryseed commented on #656
@benwilson512 Is `default_value: nil` something that should be supported?

[2020-11-28 14:24] pmargreff commented on #656
@binaryseed @benwilson512 this feature was implemented in [pmargreff/absinthe/feature/allow-nil-as-default](https://github.com/pmargreff/absinthe/tree/feature/allow-nil-as-default), I was just awaiting the merge of #940 first.

In the first PR I did the necessary refactor to allow the `default_value: nil` implementation in a simple way. The [branch not submitted already has this feature](https://g

[2020-11-29 22:47] dylan-chong commented on #946
Thanks for replying @binaryseed

the hydrate function doesn't suit our needs. We have a thousand+ fields that look like the following

[code]

This would be incredibly tedious to do for all our fields. Not to mention, hydrate is not the most convenient api

We do need to keep the values inline, otherwise we're going to have to stay with Absinthe 1.4

Re this:

I've had to push it back, but still k

[2020-11-29 22:48] dylan-chong commented on #935
Duplicate of #946

[2020-12-02 18:32] bjunc commented on #935
That works, thanks.

Still experimenting with the "best" way to do this, but I'm currently doing something like this (for someone who stumbles onto this):

[code]

[code]

[2020-12-07 02:11] binaryseed commented on #387
Closing since this kind of feature won't be built into absinthe core. We'd be excited to see what folks in the community are doing in this space!

[2020-12-07 02:11] #387 closed

[2020-12-07 16:53] sheharyarn commented on #945
Hey @binaryseed, thanks for the update and info on using hydrate as a workaround to handle this, but I think this issue should not be closed just yet as the actual bug still remains.

This was possible in previous versions of Absinthe, and should remain supported in the future as well. One reason is that calling the function directly in the enum definition is intuitive as it closely mirrors the El

[2020-12-07 18:33] benwilson512 commented on #945
@sheharyarn to be clear, this was NOT an explicit feature in previous versions of absinthe, it worked by accident, and in plenty of situations it would not work the way you expect.

We have some plans around features to enable arbitrary function calls within schemas, but it largely requires that we make the transition to persistent_term as the default backend.

[2020-12-16 07:58] kdawgwilk commented on #766
What is actually missing to support this?  I dug in a bit and it appears everything is in place to support this based on this
https://github.com/absinthe-graphql/absinthe/blob/72ff9f91fcc0a261f9965cf8120c7c72ff6e4c7c/lib/absinthe/schema/notation/sdl_render.ex#L45-L47
The only directives that are not rendered are those built-ins listed here
https://github.com/absinthe-graphql/absinthe/blob/72ff9f91

[2020-12-20 18:02] binaryseed commented on #766
This Issue isn't really the core need, I'm going to close it and create a more meaningful one

[2020-12-20 18:02] #766 closed

[2020-12-20 18:10] binaryseed opened #1003 "Support TypeSystem Directives"
The latest GraphQL spec includes `TypeSystemDirective` (directives that annotate the type system) alongside the `ExecutableDirective` (directives that annotate query execution)

https://spec.graphql.org/draft/#TypeSystemDirectiveLocation

Absinthe has full support for `ExecutableDirective`s, but only partial support for `TypeSystemDirective`s

[2020-12-20 18:11] binaryseed commented on #766
https://github.com/absinthe-graphql/absinthe/issues/1003

[2020-12-20 18:13] binaryseed opened #1004 "Support "repeatable" directives"
The latest GraphQL spec draft includes the `repeatable` keyword on Directives.

https://spec.graphql.org/draft/#sec-Type-System.Directives

[2020-12-20 18:18] binaryseed commented on #1004
Addressed in https://github.com/absinthe-graphql/absinthe/pull/999

[2020-12-22 01:27] dylan-chong commented on #937
This seems to be working for me at the moment on 1.5.5

[2020-12-22 03:39] kdawgwilk commented on #1003
Can I get more details on what support is missing for `TypeSystemDirective`s?  I am looking at diving into this issue and would love any guidance.

[2020-12-22 07:39] dylan-chong commented on #946
PR #1005 for fixing the descriptions part of the problem (Fixes 95% of the function evaluation problems, but not enum values just yet). Will continue with those in the future

[2020-12-24 01:20] binaryseed commented on #1004
Merged, will be in the next release!

[2020-12-25 16:20] #987 closed

[2020-12-26 03:29] binaryseed commented on #1003
One part of this (the SDL rendering) is accomplished in this PR: https://github.com/absinthe-graphql/absinthe/pull/1010

I've got more working, and will submit additional PRs.

Unfortunately, I don't have much guidance since I'm figuring this out as I go, and there's probably a bit of design work with the rest of the core team to get the rest of this in place.

[2020-12-28 17:38] binaryseed commented on #766
FYI, SDL rendering of Type System Directives was added in https://github.com/absinthe-graphql/absinthe/pull/1010

[2020-12-29 18:15] #990 closed

[2020-12-30 20:43] dylan-chong commented on #946
As per the comments in #1005, the descriptions are now evaluated, but the following are not:

- enum values (as a list)
- enum value (singular values)
- field/arg default_value

i've had a go at

[2020-12-30 20:47] dylan-chong commented on #946
@benwilson512 @binaryseed Is enum value evaluation something that you'd plan to do in the future?

[2020-12-31 01:35] benwilson512 commented on #946
@dylan-chong yes, I hope to have something out this week addressing it.

[2021-01-01 03:20] #1004 closed

[2021-01-01 20:55] binaryseed commented on #989
I have a PR to fix this: #1015

[2021-01-01 21:34] binaryseed commented on #964
I think that actually this isn't a _bug_ as much as missing feature, we just don't have full support for "Type System Directives" yet in Absinthe.

The resolver's `field.definition` is correct, it should be the `Schema.Field` - any directives that _it_ has would have come from the user's Query, as "Executable Directives" on a `:field`

We're tracking the "Type System Directives" feature here: #100

[2021-01-01 21:34] #964 closed

[2021-01-01 22:00] binaryseed commented on #964
I think you might want to consider using Absinthe's `meta` feature in the meantime, it isn't part of the SDL syntax, but...

Type System Directives _can_ be accessed during `hydrate`, since the first argument to them is the `*Definition` struct.

Based on that you could add some `:meta` in that `hydrate` that would then be available in the resolver under `resolution.definition.schema_node.__privat

[2021-01-01 22:00] binaryseed commented on #1003
One example of folks expecting Type System Directives to be available inside the resolver function: https://github.com/absinthe-graphql/absinthe/issues/964

[2021-01-01 22:02] binaryseed commented on #1003
FYI, there's a comment in ^^ that includes a bit of a workaround that would enable passing directive details via `meta` using `hydrate`

[2021-01-02 03:04] #989 closed

[2021-01-02 21:20] #937 closed

[2021-01-02 21:51] binaryseed commented on #937
This was tracked down by @maartenvanvliet in #1022 !

I've published `1.6.0-rc.0` for folks to try out while we wrap up a few last items before a full release..

[2021-01-03 07:07] mmmries opened #1024 "Meta attributes are macro quoted?"
### Environment

* Elixir version: Elixir 1.11.2 (compiled with Erlang/OTP 23)
* Absinthe version): 1.5.5
* Client Framework and version (Relay, Apollo, etc): None

### Expected behavior

I can use maps, structs or other native data types in the `meta` attributes on a field

[code]

### Actual behavior

Only simple scalar types seem to work for meta attributes. From the example above when I end up

[2021-01-04 01:55] binaryseed commented on #1024
Thanks, we're looking into this, it's a similar shaped issue as those we are dealing with in #1023.

At the moment, you could sidestep this by using Keyword Lists instead of Maps (since they are represented the same in AST and code)

[2021-01-04 06:21] mmmries commented on #1024
Thanks @binaryseed I'll start with keyword lists for now. I'm totally open to feedback as I get started with building. I appreciate the awesome work that has gone into Absinthe and what it has done for our community.

[2021-01-04 19:01] maartenvanvliet commented on #742
I implemented this functionality in an external package (https://github.com/maartenvanvliet/artem_introspection_schema) but if there's interest we can port it to Absinthe itself as well.

[2021-01-06 18:16] maartenvanvliet opened #1025 "Render Absinthe.Document.Operation as GraphQL"
In Absinthe, stacktraces and resolution structs usually are pretty big due in part to the `%Absinthe.Document.Operation{}` showing the entire AST of the GraphQL document. Scanning this is pretty hard.

Currently, when inspecting the Absinthe schema with a similar AST using `IO.inspect` it will be rendered as SDL. I propose to also apply this method to the `%Absinthe.Document.Operation{}` struct.

[2021-01-06 19:06] binaryseed commented on #1025
FYI, This Query Generation is something our Schema Stitching example does, however it uses string concatenation instead of the preferred `Inspect.Algebra`:

https://github.com/newrelic/absinthe-schema-stitching-example/blob/master/apps/schema_stitch/lib/query_generator.ex

I would love to see a PR for this, and use the above example to help flesh out the edge cases (rendering Operations are more c

[2021-01-06 19:08] binaryseed commented on #1025
Also, the SDL rendering via `inspect` uses the `pretty` option to decide to render the GraphQL SDL instead of the Struct, so it'd be nice to follow that - for that option we could just output the GraphQL Operation string

https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/schema/notation/sdl_render.ex#L9

[2021-01-12 23:43] mmmries commented on #772
@binaryseed I was just looking into this as part of the work I'm doing on [absinthe_compose](https://hex.pm/packages/absinthe_compose). I'm hoping to support a feature where you can `import_sdl` for an existing server and have proxy all requests for those fields to a single backend, and then sprinkle in other definitions. It would help to support the use case of breaking up a big legacy API by pul

[2021-01-15 18:04] binaryseed commented on #772
It's a big task, it will involve adding the `Language` and `Blueprint` extension structs, then using a phase to merge them in when the final schema is being generated.

[2021-01-16 09:56] maartenvanvliet opened #1031 "Macro-schema argument default values are not rendered in SDL"
Macro-schema default values are not rendered in SDL, this can be seen here https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/sdl_render_test.exs#L191 and the SDL without the default here https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/sdl_render_test.exs#L244

For SDL schema's it does work. This is because SDL's schema's populate the `defau

[2021-01-20 03:32] binaryseed commented on #1031
@benwilson512 Thoughts on this issue?

[2021-01-20 03:33] binaryseed commented on #1031
FYI a little related - there's been other conversation about default_value / nil: https://github.com/absinthe-graphql/absinthe/issues/656

[2021-01-21 00:14] dylan-chong opened #1034 "[BAD BUG] Change to imported module does not recompile outer module"
Steps:

1. Make schema `A` import types from module `B`
1. Compile and run your app with an `iex` shell open
1. Add a new type to schema `B` called `:new_type`
1. type `recompile` into the `iex` shell
1. Run `A.Compiled.__absinthe_type__(:new_type)` which should return a non nil value. BUT it returns nil!

[2021-01-21 01:25] dylan-chong commented on #1034
Ah, just added `import_types Boo.{B} # Note that the {} is required`

[2021-01-21 21:16] dylan-chong commented on #1034
I think something's up with how i tested it. the solution above does seem to work somehow, although only `Boo.B` gets recompiled somehow but not `A`. :confu

[code]

[2021-01-25 21:19] BenMorganIO commented on #767
First, this is a poor answer on "docs show how to", second this does not work on Absinthe 1.5.

[2021-01-25 21:38] binaryseed commented on #767
This is now supported in Absinthe 1.6

[2021-01-26 04:58] kolosy opened #1035 "Multiple invocations of the same aliased field not processing multiple times"
### Environment

* Elixir version (elixir -v): Elixir 1.11.2 (compiled with Erlang/OTP 21)
* Absinthe version (mix deps | grep absinthe): absinthe 1.5.5, absinthe_plug 1.5.2
* Client Framework and version (Relay, Apollo, etc): Apollo 3.3.6

### Expected behavior

I have a query of the form
[code]

While the query completes, and returns data of the expected shape, only one of these is computed and

[2021-01-26 05:11] benwilson512 commented on #1035
There are test cases that say this should be working, can you show a complete runnable example?

See: https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/integration/execution/aliases/different_selection_sets_test.exs

[2021-01-26 05:11] #1035 closed

[2021-01-26 13:39] kolosy commented on #1035
that test generates different data shapes, however... i'm generating the same shape. i'll work on a runnable example, but it may be tough given ecto, dataloaders, etc.

[2021-01-26 21:40] benwilson512 commented on #1035
@kolosy I guess the thing I'm emphasizing is that you need to isolate the problem. If it is a problem with Absinthe and aliased fields, then dataloader / ecto aren't a factor. If it works with regular aliased fields, then we need to figure out what about adding dataloader changes things.

[2021-01-27 16:38] kolosy commented on #1035
Appreciate that. It's hard to extract a working example from where I am, but here's what I can add:

Using a dataloader through a straight `resolve` with args works fine:
[code]

a subsequent query with aliased fields works:
[code]

gives the expect result of two lists with different elements in it, confirming that the underlying resolution is happening twice, with the different parameters.

This

[2021-01-27 17:24] kolosy commented on #1035
I've confirmed that including arguments in the batch key solves the issue:

[code]

however I still don't see a way to access the args hash inside `run_batch` without doing what I was doing before -- zipping them into the item keys. Is that as designed?

[2021-01-28 01:46] kdawgwilk commented on #1024
@mmmries I was also looking at doing something similar but taking the [Apollo GraphQL Federated](https://www.apollographql.com/docs/federation/) approach rather than schema stitching.  Have you looked into this at all?
 This requires implementing services to conform to [this spec](https://www.apollographql.com/docs/federation/federation-spec/).  I started up this [OSS library (absinthe_federation)

[2021-01-29 07:40] mmmries commented on #1024
@kdawgwilk I only looked into Apollo Federation a little bit. I liked the idea of trying to do this without any additional requirements on my schema.

I also checked into [graphql-mesh](https://graphql-mesh.com/) which is a pretty cool project for stitching together APIs into a single graphql gateway. Currently my team is leaning toward graphql-mesh, but I would still love to help out and support

[2021-02-02 22:00] dmarkow opened #1038 "Slow compile times in a large app due to full schema recompilation since upgrading from 1.4"
I have a fairly large API using Absinthe (25,000 lines of code, around 400 objects, 300 queries, and 300 mutations). I've noticed that it's getting slower and slower to compile my schema, and since just about every module in my app is reachable from one of my resolvers, touching basically any file in the project results in a full recompile of my schema, even if none of my fields/queries changed. C

[2021-02-02 22:04] benwilson512 commented on #1038
Hi @dmarkow, can you try using the persistent term backend found here: https://hexdocs.pm/absinthe/1.5.5/Absinthe.Schema.PersistentTerm.html ?

[2021-02-02 22:29] dmarkow commented on #1038
@benwilson512 Big improvement! I initially tried that but it didn't seem to improve anything. But I just looked at the implementation and noticed that calling `use Absinthe.Schema` overrides the `@schema_provider` attribute, which I had put *before* the `use` line. Moving it after seems to help a bunch. Still not as fast as 1.4 was, but much more tolerable (around 4-5 seconds to recompile) and som

[2021-02-02 22:41] benwilson512 commented on #1038
@dmarkow we will continue to work on improving compilation performance. Notably although 1.5 and 1.6 are slower to compile, they actually perform at run time much better and in particular when using persistent term, use a lot less memory.

We'll continue to put effort into improving compilation speed though, and in a release soon we plan to make the persistent term backend standard.

[2021-02-02 22:53] dmarkow commented on #1038
Awesome! Thanks for helping me out with this so quickly.

[2021-02-02 23:19] #1038 closed

[2021-02-03 10:23] BlueHotDog opened #1040 "Regression in 1.6 using enum values(dynamic and static)"
### Environment

* Elixir version (elixir -v):
[code]
* Absinthe version (mix deps | grep absinthe):
[code]
* Client Framework and version (Relay, Apollo, etc):
Not relevant
### Expected behavior

[code]
to work.

### Actual behavior
Since elixir produce terrible error messages with protocol implementation, i changed Absinthe.Schema.sdl.ex:70 to:
      {:ok, Absinthe.Schema.Notation.SDL.Render.ins

[2021-02-03 18:56] dmarkow commented on #1038
@benwilson512 One extra piece of info in case it's useful for future work on this. It seems that with PersistentTerm compilation of schema.ex is actually very close that that of 1.4.16. The thing that's delaying it is a 3-second "group pass check" on the project's modules, regardless of using PersistentTerm or not. In 1.4.16, the group pass check took less than a second for the same number of modu

[2021-02-03 21:30] benwilson512 commented on #1038
@dmarkow interesting! Can you elaborate a bit on what the "Group pass check" is? This isn't a term I recognize.

[2021-02-03 23:44] dmarkow commented on #1038
I saw this mentioned in José's post at https://dashbit.co/blog/how-to-debug-elixir-erlang-compiler-performance — from reading through this it sounds like a standard part of Elixir's compilation process, stating that it's "the time to execute a group pass which looks at all modules at once, in order to find undefined functions, emit deprecations, etc." You can track it when you compile with the `--

[2021-02-04 07:11] binaryseed commented on #1040
Thanks, fix here: https://github.com/absinthe-graphql/absinthe/pull/1041

[2021-02-04 08:59] BlueHotDog commented on #1040
Thanks! waiting for the new version.

[2021-02-05 01:53] benwilson512 commented on #1038
OK great, glad we could get things back to a good place!

[2021-02-05 05:10] #1040 closed

[2021-02-05 22:25] Loschcode opened #1043 "Custom scalar and validation crash instead of GraphQL error output"
### Environment

* Elixir version (elixir -v): Elixir 1.11.3
* Absinthe version absinthe: absinthe 1.6.1 (Hex package) / absinthe_plug 1.5.4
* Client Framework and version (Relay, Apollo, etc): GraphiQL

### Expected behavior

A serialized GraphQL error when having a type mismatch when sending an argument from a custom scalar

### Actual behavior

I've got this custom Scalar (UUID)
[code]

I use i

[2021-02-05 22:30] benwilson512 commented on #1043
Hi @Loschcode, the correct value to return from a scalar is `:error`, not `{:error}`.

[2021-02-05 22:30] #1043 closed

[2021-02-05 22:32] Loschcode commented on #1043
Ah stupid mistake! Hope it helps people making it too, thanks for the quick response 👍

[2021-02-10 12:47] hazardfn commented on #937
I am getting a similar variant to this issue in 1.6.3, my current setup works fine in 1.5.x:

[code]

I know for sure the module exists... I am not using the tuple layout as above just straight importing the types one after the other

[2021-02-11 04:49] binaryseed commented on #937
Can you share more context? When does that happen? Can you generate a small reproduction case?

[2021-02-16 11:34] maartenvanvliet commented on #1035
I have used the batch key to pass in args, since it should be static for the entire batch
[code]
The `run_batch` function can extract it from the batch key using pattern matching.

But yeah, there's not a way to pass through the args in the third element of the batch tuple to the `run_batch` function afaict.

[2021-02-24 20:30] bjunc commented on #937
I can replicate this in our app (not sure about a small / sharable repo), upgrading from `1.5.3` to `1.6.3`

On a full build, I will get an "unavailable" module error like above; which has a union type. If I replace the union type with a simple object of the same name (just an `id` field), then it compiles.  Seems union related.

Oddly, if I do the full build with the dummy object, then replace wi

[2021-03-03 16:34] atomkirk opened #1046 "can't seem to support a nullable union type"
### Environment

* Elixir version (elixir -v): 1.10.4
* Absinthe version (mix deps | grep absinthe): 1.6.3
* Client Framework and version (Relay, Apollo, etc): dillonkearns/elm-graphql 5.0.3

### Expected behavior

Given this schema:

[code]

[2021-03-03 17:55] benwilson512 commented on #1046
I need to double check with the spec, but this does seem like a bug. I would expect that returning `nil` from a resolver would simply prevent the union resolve_type from running at all and go ahead with a `nil` value. Will investigate.

[2021-03-04 14:39] Awlexus opened #1047 "Union with type list_of(:type) not working"
If submitting a bug, please provide the following:

### Environment

* Elixir version:
Erlang/OTP 23 [erts-11.1.5] [source] [64-bit] [smp:6:6] [ds:6:6:10] [async-threads:1] [hipe]
Elixir 1.11.3 (compiled with Erlang/OTP 21)
* Absinthe version:
  * absinthe 1.6.3 (Hex package) (mix)
  * absinthe_plug 1.5.5 (Hex package) (mix)

### Expected behavior
I tried to make a union type like the following, b

[2021-03-04 14:41] benwilson512 commented on #1047
Hi @Awlexus the error could definitely be better. However, the GraphQL spec only allows unions between objects.

https://spec.graphql.org/draft/#sec-Unions

I'll open a separate issue addressing the error message.

[2021-03-04 14:41] #1047 closed

[2021-03-04 14:42] benwilson512 opened #1048 "Invalid union arguments has a bad error message"
If you create a union with invalid inner types the error message is cryptic and unhelpful. We should find a way to improve on it.

Related: https://github.com/absinthe-graphql/absinthe/issues/1047

[code]

[2021-03-11 17:52] joeapearson opened #1049 "Confusing warning when fields duplicated in a schema"
This isn't really a bug per-se but a usability issue, and was entirely caused by my own mistake:

I suddenly found after a series of changes to my code that I was getting warnings like this:

[code]

It turns out I had mistakenly added duplicate fields to one of my schema.  The only way I could track it down was by progressively commenting out bits of my schema until I isolated the warning.

### E

[2021-03-22 16:25] binaryseed opened #1052 "Make persistent_term schema provider the default"
* Make persistent_term schema provider the default, hint users to add `Absinthe.Schema` to their supervision tree
* Erlang 21.2 required, provide helpful error message if `persistent_term` is not present

[2021-03-22 22:41] dolfinus opened #1054 "Cannot generate SDL for :persistent_term schema"
### Environment

* Elixir version (elixir -v): 1.11.3
* Absinthe version (mix deps | grep absinthe): 1.6.3
* Client Framework and version (Relay, Apollo, etc): -

### Expected behavior

If I try to execute `absinthe.schema.sdl` or `absinthe.schema.json`, I expect to see a file output:
[code]

### Actual behavior

It is broken when I use a `:persistent_term` schema:
https://github.com/dolfinus/arke

[2021-03-22 22:52] binaryseed commented on #1054
Right, the task doesn't start the app. I believe we can just start `Absinthe.Schema` with the schema module directly, all it does is populate the `persistent_term`

[2021-03-22 22:58] benwilson512 commented on #1054
@binaryseed shouldn't the `on_load` thing we did populate it without starting the genserver?

[2021-03-22 23:02] dolfinus commented on #1054
@benwilson512 Do you mean this @on_load which was removed in October 2020?
https://github.com/absinthe-graphql/absinthe/pull/985/files#diff-bb15e00e34ca6f23ba5da5239df0922d2ac098d091839bb5b8cf66cd95ab8285L113

[2021-03-22 23:28] binaryseed commented on #1054
Yes there were some odd issues with that technique. I'd love to find one that didn't require users to put `Absinthe.Schema` in the supervision tree, though it's not the biggest deal

[2021-03-23 00:56] benwilson512 commented on #1054
Ah I forgot it was removed.

[2021-03-24 14:46] sheharyarn commented on #937
Can confirm, we're facing a similar issue. Just tried upgrading absinthe from `1.5.5` to `1.6.x` and now the schema fails to compile with the same message:

[code]

----

After a bit of debugging, we found that the issue may be related to imports. For example, this does not work:

[code]

But changing it to alias, does:

[code]

[2021-03-24 15:16] josevalim commented on #937
The unavailable error means there is a deadlock when trying to resolve the modules. Probably due to cyclic dependencies between the several Absinthe schemas. More info here: https://hexdocs.pm/elixir/Code.html#ensure_compiled/1

I believe Absinthe has a module that resolves the types at runtime instead of compilation time. Is this correct? If so, consider using that instead, as that should fix com

[2021-03-24 15:18] benwilson512 commented on #937
@josevalim yeah the default in the next release is to resolve everything at runtime and load it into `:persistent_term`. It makes it harder for us to have "compile time" errors on schemas, but given that the supervisor that loads the schema happens in the main application tree you at least get "at app start" errors.

[2021-04-05 10:11] dolfinus commented on #1054
Actually, I don't see any issues with `@on_load` usage for starting the scheme module. What do you think about returning it back?

[2021-04-05 16:08] benwilson512 commented on #1054
@dolfinus I believe we ran into edge cases where it did not work. @binaryseed do you remember the details there?

[2021-04-05 16:17] binaryseed commented on #1054
The note I left when I reverted was this: https://github.com/absinthe-graphql/absinthe/pull/985#issuecomment-719877948

I intend to try again though, it would be nice

[2021-04-09 06:10] oo6 commented on #1034
same issue for us:
[code]
if we edit `TypeA` and `recompile`, only recompiled `TypeA`.
so change to:
[code]

[2021-04-21 02:18] chungwong opened #1063 "returning {:error, nil} in resolve/3"
For a mutation

[code]

If `subscribe/3` returns `{:error, nil}`, the response is
[code]
If `subscribe/3` returns `{:error, "I am an error"}`, the response is
[code]

### Environment

* Elixir version (elixir -v): 1.11
* Absinthe version (mix deps | grep absinthe): 1.5

### Expected behavior

It should return an error resposne
### Actual behavior

It is returning a successful response

[2021-04-21 02:23] benwilson512 commented on #1063
@chungwong I do wonder what the expected behaviour should be here. Absinthe does not allow for example `{:error, message: nil}`. We generally treat `{:error, message}` as shorthand for `{:error, message: message}`.

I agree that Absinthe's current response is wrong. However, my inclination is that `{:error nil}` should simply raise an error.

[2021-04-21 04:12] chungwong commented on #1063
according to the error message of resolving
[code]

And the last case `- Any other value compatible with `to_string/1``
[code]

So I would say according to the spec, it should not raise

[2021-04-21 15:58] benwilson512 commented on #1063
Yup, ok, that's a compelling argument :)

[2021-04-21 16:13] binaryseed commented on #1063
That's the Absinthe error help, but the GraphQL spec itself says:

http://spec.graphql.org/draft/#sec-Errors.Error-result-format

Since it specifies the minimum data for an error is a map with a `message`, it's not clear to me what `{:error, nil}` would return as the message... An empty string doesn't seem great

[2021-04-21 23:54] chungwong commented on #1063
It is a bit tricky.
At the moment `{;error, ""}` is returned as an normal `error` response(not raising), so if `{:error, nil}` is converted to `{:error, ""}` like the `Absinthe Error` suggested, it will not introduce a breaking change. `{:error, nil}` is `corrected` to behave the same as `{:error, ""}`

It is a bit silly to raise which breaks the function if a mutation simply returns `{:error, ""}

[2021-04-22 15:00] mupkoo opened #1064 "Multiple pushes per client for subscriptions that have a `context_id`"
### Environment

* Elixir version (elixir -v): 1.11.3 (compiled with Erlang/OTP 23)
* Absinthe version (mix deps | grep absinthe): 1.6.4

### Expected behavior

Publishing to a subscription should result in just a single push per client.

### Actual behavior

Using a subscription with a `context_id` results in the same number of pushes as the number of connected clients, so for example if you have

[2021-04-22 15:03] benwilson512 commented on #1064
Thank you so much for creating an example! I will look into this today.

[2021-04-29 13:17] Nickforall opened #1066 "Documentation missing for `%{batch: _, item: _}` map syntax in dataloader helper"
There is a helper for handling custom run_batch functions in dataloader which has been incredibly useful to me, but it doesn't seem to be [documented](https://hexdocs.pm/absinthe/Absinthe.Resolution.Helpers.html#dataloader/3) anywhere but in this issue #903.

As described in that issue, with the example given in [the Dataloader docs about custom batch queries](https://hexdocs.pm/dataloader/Dataloa

[2021-04-29 17:05] dorian-marchal commented on #281
Hi @benwilson512, first of all thanks for your work and general helpfulness on Elixir Forum!
This issue has been opened 4 years ago, so I'm checking: Is calling GraphQL from server side something we can do in 1.6 (maybe via undocumented functions, as you suggested [on Elixir Forum](https://elixirforum.com/t/is-it-possible-to-do-graphql-schema-stitching-with-absinthe/12181/9))?

[2021-05-02 19:54] cheerfulstoic commented on #1066
Just created PR #1067 to hopefully at least make a start of this documentation

[2021-05-13 20:01] kdawgwilk commented on #788
Should we reopen this based on https://github.com/absinthe-graphql/absinthe/pull/1069#issuecomment-839925601

[2021-05-14 10:22] benwilson512 commented on #788
I don't think so, it is really superseded by #1069 and I don't want to split the discussion.

[2021-05-14 14:51] atomkirk opened #1071 "non_null(list_of(non_null(...))) doesn't propagate list of nil upwards"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): 1.10.4
* Absinthe version (mix deps | grep absinthe): 1.6.3
* Client Framework and version (Relay, Apollo, etc): elm-graphql

### Expected behavior

[code]
It should have propogated `null` up to the next highest nullable field

### Actual behavior

the resulting payload was:

[code]

So the spec says

[2021-05-14 15:19] benwilson512 commented on #1071
Thanks! So I've sort of reproduced this in https://github.com/absinthe-graphql/absinthe/pull/1072, but if you look at the test failure the `data` field is actually doing the right thing already today. It's missing the error message, which is bad, but I'm not reproducing the behavior you're seeing.

Can you create a reproduceable example?

[2021-05-21 14:52] lucianoengel opened #1075 "Incomplete error response on mutation with multiple instances of the same mutation"
### Environment

* Elixir version (elixir -v): 1.10.4
* Absinthe version (mix deps | grep absinthe): 1.6.4
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

Currently our client makes a single request like this:

[code]

we expect that if one or more of these mutations fails we get individual errors for every mutation, and that an error in one of them doesn't bloc

[2021-05-21 18:00] benwilson512 commented on #1075
Are you able to reproduce this error with just Absinthe.run? master has a commit that demonstrates that this should work, so I need an example I can run to proceed.

[2021-05-21 20:08] lucianoengel commented on #1075
will try to get you something

[2021-05-24 19:41] lucianoengel commented on #1075
so I was able to reproduce this in this test

[code]
which fails by having only a single error.
What I did notice is that it seems I was wrong and the resolvers are getting called twice, and they both are returning errors.

I know you still can't run this, but would appreciate any ideas you might have as I keep investigating this

[2021-05-24 20:19] benwilson512 commented on #1075
OK, I'll see what I can do to reproduce. Oh one last question, can you show the `field` definition for that mutation?

[2021-05-24 20:29] lucianoengel commented on #1075
sure! Thanks, appreciate. Let me know If I can get you anything else

[code]

[2021-05-26 15:01] lucianoengel commented on #1075
Alright, will do that! Thanks @benwilson512 really appreciate the time!

[2021-06-02 11:24] maennchen opened #1077 "key :is_type_of not found on Interface"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v):

[code]

* Absinthe version (mix deps | grep absinthe):

[code]

* Client Framework and version (Relay, Apollo, etc): None yet

### Expected behavior

When defining *interface* root / * interface* intermediate / *object* child and defining a `is_type_of` on the object, everything should work fine.

#

[2021-06-04 17:49] stellanor opened #1080 "Absinthe doesn't conform to GraphQL spec for validating schemas with interfaces that implement other interfaces"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): Elixir 1.11.4 (compiled with Erlang/OTP 23)
* Absinthe version (mix deps | grep absinthe): absinthe 1.6.4
* Client Framework and version (Relay, Apollo, etc): n/a

### Expected behavior

When defining a schema with a higher-order interface, for example, interface `Mammal` implements interface `Animal

[2021-06-07 06:26] x-ji opened #1081 "default_value for an enum type doesn't work when the enum type is defined with the shorthand syntax"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v):
[code]
* Absinthe version (mix deps | grep absinthe): 1.6.3
* Client Framework and version (Relay, Apollo, etc): Not relevant as it's a backend bug

### Expected behavior

Define an enum type with the shorthand syntax:

`enum :example_type, values: [:A, :B, :C]`

In the schema, have a field with defa

[2021-06-08 18:19] amacciola commented on #790
@d-led Schema stitching and federation are not the same though

[code]

So is it not possible to leverage Apollo Federation while also using Absinthe Elixir ?

[2021-06-08 19:43] d-led commented on #790
Mesh should, at least in principle, be able to add a Federation implementation to an existing nonconforming schema: https://www.graphql-mesh.com/docs/transforms/federation
via https://github.com/0xR/graphql-transform-federation

[2021-06-08 22:12] benwilson512 commented on #790
Apollo federation is not built in, but I don't see anything standing in the way of someone writing a library that enabled it on top of Absinthe. At this point Absinthe has exposed 100% complete control over how schemas are built, when schemas are built, and how queries are executed.

[2021-06-17 19:35] youroff commented on #1064
We observe the same behavior and even worse: turning `context_id: "global"` made messages from adjacent topics leak to the users who weren't subscribed.

[2021-06-18 15:18] bmidgley opened #1083 "`mix clean` is sometimes required to see changes take effect"
### Environment

* Elixir version (elixir -v): Erlang/OTP 23 [erts-11.2] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe]
* Absinthe version (mix deps | grep absinthe): absinthe 1.6.4 / absinthe_plug 1.5.8
* Client Framework and version (Relay, Apollo, etc): graphiql

### Expected behavior

Changing my types file from
field(:id, :id)
to
field :id, :string do
     resolve(fn obj

[2021-07-07 21:30] kdawgwilk opened #1084 "SDL output for union with no types is invalid"
### Environment

* Elixir version (elixir -v): 1.10 or 1.11
* Absinthe version (mix deps | grep absinthe): 1.6.4 or master branch
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

[code]

### Actual behavior

[code]

### Relevant Schema/Middleware Code

In a schema processing phase, I am dynamically creating this union type and in some cases the `types` list is empty

[2021-07-15 16:54] #1084 closed

[2021-07-19 17:28] kdawgwilk opened #1087 "Int built-in is not spec compliant"
### Environment

* Elixir version: 1.10 | 1.11
* Absinthe version: 1.6.4 | master
* Client Framework and version: Apollo

### Expected behavior

https://spec.graphql.org/draft/#sec-Int.Input-Coercion

An error when a larger than 32-bit JSON number is passed for a field marked as Int type

### Actual behavior

Absinthe does not have any issues with the number size

### Relevant Schema/Middleware Co

[2021-07-19 17:59] benwilson512 commented on #1087
Absinthe actually does have size checks https://github.com/absinthe-graphql/absinthe/blob/master/lib/absinthe/type/built_ins/scalars.ex#L103 but it uses different limits. Maybe the spec has changed over time?

[2021-07-19 18:11] kdawgwilk commented on #1087
I just reviewed the spec back to the [July 2015 version](https://spec.graphql.org/July2015/#sec-Int) and it was still only 32-bit

[2021-07-23 00:06] mattbaker opened #1089 "Possible difference in schema validation between DSL and import_sdl"
The basic questions I'm trying to answer are:

1. Is there really is a discrepancy in schema validation between using import_sdl vs the DSL when using interfaces in a specific way?
2. If so, which one is right?

I provided a diff with a couple sample test cases in #1088 with details as well as a sample schema that should be representative of the "real one" we're working with internally.

### Env
E

[2021-07-23 17:49] jerelmiller commented on #1089
That is correct! This is a good reproduction of the problem I'm seeing.

[2021-07-29 08:42] mrcasals opened #1090 "Proposal: warn if the user defines a field/object with camelcase"
Hi!

Lately I've been bitten twice by this kind of error:

[code]

This error is similar to #601, but not exactly the same. In my case, the error rises because I defined the field with a camelCase name instead of using underscores:

[code]

My proposal is to warn the developer when defining a field or object that contains an upcase letter. In order to find if it matches, we could use this:

[code]

[2021-07-29 22:46] jerelmiller commented on #1089
After a [bit of discussion](https://github.com/absinthe-graphql/absinthe/pull/1088), @emeryotopalik and I were able to setup a [minimal reproduction](https://github.com/jerelmiller/graphql-interface-reproduction) of this schema using GraphQL.js. We were able to determine that an interface with a field that points to another interface was a valid use case.

It appears the DSL handles this correctly

[2021-07-30 06:36] gfviegas opened #1092 "Missing documentation: Using imported SDL"
As seen in https://hexdocs.pm/absinthe/Absinthe.Schema.Notation.html#import_sdl/1 there is no proper documentation for using external graphql schemas definitions, neither how to correctly link your query/mutation/type definition to its resolver

![image](https://user-images.githubusercontent.com/6178801/127611002-fe174d86-587b-4c5a-84b2-cd65cd615095.png)

I am trying to figure out how to use this

[2021-07-30 07:22] maartenvanvliet commented on #1092
You can look into the tests for examples on how it works: https://github.com/absinthe-graphql/absinthe/blob/master/test/absinthe/schema/notation/experimental/import_sdl_test.exs

There are also some examples here: https://github.com/newrelic/absinthe-schema-stitching-example/blob/master/apps/soccer_team_app/lib/soccer_team_app/schema.ex

[2021-07-30 18:55] jerelmiller commented on #1089
I read through a bit more of the [GraphQL spec for Interfaces](https://spec.graphql.org/June2018/#sec-Interfaces) and found this nugget:

Looks like the language used for "types match exactly" comes from the [Introspection information](https://spec.graphql.org/June2018/#sec-Interface). Not exactly sure why the introspection information isn't as clear-cut as the spec itself.

[2021-08-02 20:40] #1089 closed

[2021-08-04 23:02] woylie commented on #1031
This still seems to be an issue. Simple example:

[code]

[code]

Results in:

[code]

While it should be:

[code]

The JSON schema generated with `mix absinthe.schema.json` includes the default value, Graphiql displays it, but the generated SDL schema does not.

[2021-08-06 00:57] mattbaker opened #1094 "Null trimming not applied when child field uses an async resolver"
I think we have an issue with null trimming specifically with async resolvers, but I'm not sure how to solve it.

If I'm understanding the issue, "null trimming" happens on the resolution of a field by looking at its children to see if any non-null violations have occurred. For a field with children using async resolvers, those children might actually be `Resolution` structs in `state: :suspended`

[2021-08-06 02:47] benwilson512 commented on #1094
Ah, that's a doozy! Let me take a look.

[2021-08-28 20:39] coryodaniel commented on #790
If you are still interested in doing this, here is an [example](https://github.com/coryodaniel/federated-absinthe) of federating absinthe using the GraphQL Mesh library.

[2021-08-29 15:57] kdawgwilk commented on #790
Or if you would like to give federation with absinthe a go try out this library https://github.com/DivvyPayHQ/absinthe_federation and give us some feedback 😊

[2021-08-31 13:22] jbcaprell opened #1098 "`FunctionClauseError` in `Absinthe.Schema.Notation.config/1` macros"
### Environment

* Elixir: `1.12.2-otp-24`
* Absinthe: `1.6.5`
* macOS: `1.15.7`

### Expected Behavior

The function given to an `Absinthe.Schema.Notation.config/1` macro, [by the documentation](https://hexdocs.pm/absinthe/Absinthe.Schema.Notation.html#config/1), ought to take an `Absinthe.Resolution` struct as its second argument.

### Actual Behavior

Instead, the argument given to the macro is

[2021-09-03 13:17] Awlexus opened #1100 "Unable to conditionally define an enum value"
### Environment

* Elixir version:
[code]
* Absinthe version: 1.6.4

### Expected behavior

I tried to define an enum value, that is only available during testing, but I was also able to use it during development.

### Actual behavior

The enum value was available during development

### Relevant Schema/Middleware Code

[code]

[2021-09-03 17:23] benwilson512 commented on #1100
This isn't really possible for us to support as written. Your best bet is to do:
[code]

Or you can use a pipeline modifier: https://hexdocs.pm/absinthe/Absinthe.Schema.html#module-custom-schema-manipulation-in-progress

[2021-09-03 17:23] #1100 closed

[2021-09-03 17:29] Awlexus commented on #1100
Interestingly, I tried wrapping the whole definition as well and got an error because the enum was defined multiple times 😅

But understandable, I will look into pipelines, thanks for the suggestion

[2021-09-20 00:28] guitcastro opened #1103 "Emit item on subscription"
It's possible always call the resolve api after client has subscribed?

per example:
[code]

If use subscribe to the topic, no data will show until some changes happens. I know that graphql does not determinate a default behavior  for subscription, however it's a very common scenario to emit an item on subscription.

It's possible to configure absinthe to do it?

[2021-09-20 19:21] kdawgwilk commented on #1087
Do we have a path forward on this to become spec compliant?  Or is this too large of a breaking change to consider?

[2021-09-21 19:22] benwilson512 commented on #1087
@kdawgwilk I think the path forward here should be to introduce a setting that can be enabled on a schema to make the integers spec complaint. We can also start warning on schemas that are not using that setting, and note that in Absinthe 2.0 it will change.

I do not want to simply change the limits and potentially break other scenarios where people are using 64 bit integers.

[2021-09-24 17:29] kdawgwilk opened #1105 "Rendering SDL fails on schema without any fields in RootQueryType"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): 1.11.3
* Absinthe version (mix deps | grep absinthe): 1.6.5
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

SDL rendered without issue

### Actual behavior

output was
[code]

### Relevant Schema/Middleware Code

[code]

Failing test PR: https://github.com/absinthe-gr

[2021-09-25 03:24] marshallshen commented on #953
I support this feature and would like to help contribute too!

[2021-09-25 04:01] marshallshen commented on #953
Just found this PR: https://github.com/absinthe-graphql/absinthe_phoenix/pull/87/files

[2021-10-20 00:23] jerelmiller opened #1113 "Unable to get deprecated input object fields via introspection query"
### Environment

* Elixir version (elixir -v): 1.12.3
* Absinthe version (mix deps | grep absinthe): 1.6.4
* Client Framework and version (Relay, Apollo, etc): Apollo

### Expected behavior

When making an introspection query to get data about fields, I'd like to query for deprecated fields on input objects. While I am able to use the `deprecate/1` macro and the `deprecate` option on `field/3` ins

[2021-10-20 06:34] maartenvanvliet commented on #1113
Deprecation of input values has not officially moved into the graphql spec yet, see: https://github.com/graphql/graphql-spec/pull/805

I think the graphql.js library does have support since it's a testbed for the development of the graphql spec.

[2021-10-20 20:12] jerelmiller commented on #1113
How interesting! I didn't realize this was still just a proposal and not actually part of the spec. Thanks for pointing me in that direction!

[2021-10-21 18:22] #1113 closed, assigned to nobody

[2021-10-31 20:56] mathieuprog opened #1115 "Fetching field including a number?"
Hello, I try to fetch a field named:
* `is_24_hour_clock` in the schema server side
* `is24HourClock` in the document client side

but it seems not working because there is a number in the field name.

The error returned by Absinthe is the following:

### Environment

* Elixir version (elixir -v):
Erlang/OTP 24 [erts-12.0] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [jit]
Elixir

[2021-11-02 05:53] kdawgwilk commented on #1115
If you remove the `_` after the number I think it will work e.g. `is_24hour_clock` I ran into this before and it's a bit quirky

[2021-11-02 15:46] #1115 closed

[2021-11-04 09:51] mathieuprog commented on #1115
I changed `:is_24_hour_clock` to `:is_24hour_clock` in the Absinthe schema. I still can't get the value from a request.

I tried:

1. is24HourClock
error: Cannot query field \"is24HourClock\" on type \"Account\". Did you mean \"is24hourClock\"?

2. is24hourClock
error: Cannot query field \"is24hourClock\" on type \"Account\". Did you mean \"is24hourClock\"?

[2021-11-05 03:09] kdawgwilk commented on #1115
[code]
Looks like you need to do `:is24_hour_clock`

[2021-11-05 14:07] blatyo opened #1117 "Allow async timeouts to be rescued and an error inserted for resolution"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v):

      Erlang/OTP 23 [erts-11.1.1] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe]

      Elixir 1.11.1 (compiled with Erlang/OTP 23)
* Absinthe version (mix deps | grep absinthe):
  * absinthe 1.5.3 (Hex package) (mix)
    locked at 1.5.3 (absinthe) 69a170f3
  * absinthe_plug 1.

[2021-11-05 15:22] VictorGaiva commented on #903
Is there a way to make the absinthe `context` accessible from `run_batch`? It would allow, for example, to batch the resolution of a boolean field that checks if the _current user_, as could be defined in the absinthe context,  is `subscribed` to a post.

[2021-11-05 15:49] benwilson512 commented on #903
@VictorGaiva data about the current user should be passed in as part of the args tuple. eg:

[code]

[2021-11-05 17:09] VictorGaiva commented on #903
@benwilson512 `%{user: user}` doesn't seem to be accessible from `&run_batch/5`.

With:
[code]
and
[code]

prints:
[code]

[2021-11-05 17:37] VictorGaiva commented on #903
Was able to do what I wanted, inspired by [this forum post](https://elixirforum.com/t/batch-loading-resources-in-absinthe-using-dataloader-for-a-non-ecto-struct/33943), like this:

With:
[code]

and
[code]

[2021-11-11 13:31] v-anyukov commented on #1064
In addition it looks like deduplication itself does not work anymore. Resolution happens for every subscribed client, which leads to performance issues.

[2021-11-15 21:00] elbow-jason opened #1119 "Module attribute name mismatch for `:__absinthe_type_import__` vs `:__absinthe_type_import__`?"
During `Absinthe.Schema.Notation.__using__/1` the module attribute `:__absinthe_type_import__` is defined with `accumulate: true`, but later in the Notation module a very similar, but different module attribute `:__absinthe_type_imports__` is used 3 times.

The module attribute registration:

https://github.com/absinthe-graphql/absinthe/blob/d7837a7dc610c014bedae36409a36f515936f541/lib/absinthe/sc

[2021-11-16 14:42] mathieuprog commented on #1115
Thank you! Should have tried `Macro.to_underscore` myself when Ben mentioned it, sorry.
Working perfectly now! <3

[2021-11-17 22:36] Catharz commented on #1117
This is something that's been affecting us for quite some time, as we use Absinthe as a mobile BFF.
We worked around it by explicitly using `Task.async_stream` in our resolvers and providing "graceful" fallback responses when timeouts occur.

Would a PR be accepted that uses `Task.async_stream` instead of `Task.await` for this middleware?

[2021-11-19 22:08] mupkoo commented on #1064
It seems like this commit is disabling the test that makes sure that de-duplications work as expected

https://github.com/absinthe-graphql/absinthe/pull/775/files#diff-2d1ba39315325b35cec6a60875bc11082cfbaf47c74482abbc9907735b79c90aR396

[2021-11-24 03:21] tlvenn commented on #1080
Hi  @maartenvanvliet  I believe you did the initial work to implement this feature, is there any chance you could have a look at this bug ? Thanks in advance !

[2021-11-24 16:37] benwilson512 commented on #1117
No this is not a good fit for Task.async_stream, there isn't an enumerable to feed to it. Instead we could use a combo of Task.yield + Task.shutdown.

[2021-11-24 16:54] tlvenn opened #1123 "Interface implementing other interfaces does not seem to work with is_type_of"
### Environment

* Elixir version (elixir -v): 1.12.3 with OTP 24
* Absinthe version (mix deps | grep absinthe): 1.6.6

### Expected behavior

I have an existing schema where I am trying to introduce interfaces implementing other interfaces.
I don't use / define `resolve_type` in my interfaces, instead I implement `is_type_of` in all the objects that implement interfaces.

I would expect that exis

[2021-11-24 22:04] Catharz commented on #1117
Thanks for the feedback @benwilson512.
I had started work on this (accumulating a list of fields to be resolved async), but will pivot to using ☝️ .

[2021-11-24 22:35] binaryseed commented on #1117
Likely this should be opt-in since it'd be a pretty meaningful behavior change for everyone - this behavior has been around for a long time...

The `batch` plugin should likely implement this as well if we are doing `async`.

FYI, I have an implementation of this pattern for `async` and `batch` laying around in a project or two, I can try and dig it out soon...

[2021-11-24 23:46] Catharz commented on #1117
I aim to have this be backwards compatible. I don't want to break anybody else's code.

I'll take a look at that too.

I'd be very interested to see how you handled this.

[2021-11-25 02:29] tlvenn commented on #1123
I have submitted a simple PR to filter the list to only include objects and now all is working fine.

[2021-11-25 04:07] tlvenn commented on #1123
I just realized that the issue has been reported already and there is even a PR...
Duplicate of https://github.com/absinthe-graphql/absinthe/issues/1077

[2021-11-25 04:07] #1123 closed

[2021-11-25 04:28] binaryseed commented on #1117
It's not too complicated but there are decisions to be made about what kind of error to resolve & how to roll this out

https://github.com/absinthe-graphql/absinthe/compare/master...binaryseed:async-batch-error-handling?expand=1

[2021-11-25 05:12] Catharz commented on #1117
I ended up with something that looks a little simpler. Not sure what I might be missing:

[code]
I've tried to make sure it works with the `:timeout`, `:fallback`, both or neither (without changing the existing behaviour).

[2021-11-25 08:11] srfsh opened #1126 "Possible bug with the :name option of Absinthe.Schema.Notation.field/4"
### Environment
* Elixir version (elixir -v): elixir 1.12.3 with erlang/otp 24
* Absinthe version (mix deps | grep absinthe): absinthe 1.6.6
* Client Framework and version (Relay, Apollo, etc): I am just using `Absinthe.run!/3`

### Expected behavior
`field/4` aliasing with `:name` should work in an `input_object/3`.

### Actual behavior
`field/4` aliasing with `:name` doesn't work in an `input_ob

[2021-11-26 03:41] Catharz commented on #1117
That's fairly close to what I want, but the problem is it returns errors when tasks timeout.
Timeouts are expected in our environment, so what we're after is a graceful fallback when they occur.

Thinking about it: it's maybe not idiomatic to return a fallback instead of an `:error` tuple? But the `:error` tuple doesn't suit our needs. So, does this actually belong in Absinthe, or should we just w

[2021-11-26 08:36] #1080 closed

[2021-11-26 23:11] binaryseed commented on #1117
Yes, I don't know that a hard-coded fallback would be the best general solution here, I'm sure different use cases would call for more dynamic responses. In our implementation, we had a bunch of logic we used to determine what error to show based on what kind of user was present.

And code-wise, `Task.yield` can return an `{:exit, term()}` tuple in the case when the Task process itself exits... Th

[2021-11-26 23:14] binaryseed commented on #1080
@stellanor Could you look at the PR that was merged & validate that it resolves the issue?

[2021-11-29 22:03] Catharz commented on #1117
I was going for a `:fallback` option, rather than something hard-coded.

So if you wanted to use it, it'd be something like this:

[code]
with both `timeout` and `fallback` being optional.

The way I implemented it (to maintain the existing behaviour) is:

[code]

[2021-12-04 00:43] kdawgwilk commented on #1087
Duplicate of https://github.com/absinthe-graphql/absinthe/issues/921

[2021-12-04 00:43] #1087 closed

[2021-12-09 12:18] jaromil commented on #1126
Ping, can anyone have a look at this? it may be very easy to fix and we are available to provide more info and troubleshooting.

[2021-12-09 16:03] maartenvanvliet commented on #1126
Can you try using snake case instead of camel case in the name? E.g.:
```field :awesome_owner_id, non_null(:id), name: "awesome_owner"```

[2021-12-09 17:43] srfsh commented on #1126
It works.  That's strange; I thought `:name` option was to define the ouput/display type (camelCase), not the one you pass to `field/4` as the first parameter (snake_case).  Is that the case?

[2021-12-10 03:07] dylan-chong opened #1132 "Get grandparent value in resolver function 😭"
I'm going to firstly rip off someone elses issue because that saves me having to write a description: https://github.com/graphql/graphql-js/issues/1098

# Ex1

![image](https://user-images.githubusercontent.com/17482349/145509462-f4ddbef4-8a24-4beb-b578-3765af6d7651.png)

We want to fetch the team for the given competition id and season id. We can get the season id from the first argument of the t

[2021-12-11 00:12] stellanor commented on #1080
I verified using latest master today (1ad9f67d27f229bdd207626dfb47d8bebf3b6250) that this is fixed and that the schema fails to compile, as expected. I tested this both with my mammal/animal sample schema, as well as the real-world production schema where I discovered this originally.

Sorry for the delay in the validation, and thanks all for the fix!

[2021-12-11 05:51] benwilson512 commented on #1132
Hey @dylan-chong the preference is to use the forums or other locations for discussions / questions and use the issue tracker for concrete bugs or other similar issues, thanks!

[2021-12-11 05:51] #1132 closed

[2021-12-14 07:01] kdawgwilk opened #1133 "Duplicate fields on type are currently allowed"
### Environment

* Elixir version (elixir -v): 1.12.3
* Absinthe version (mix deps | grep absinthe): 1.6.6
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

Absinthe fails to compile my schema and gives an error message indicating that the same field is being defined more than once on a type

### Actual behavior

schema compiles without issue

### Relevant Schema/Mid

[2021-12-14 07:03] kdawgwilk commented on #1133
This can commonly occur when sharing schema types between multiple graphs when using `import_types` and `import_fields`

[2021-12-15 20:03] dylan-chong commented on #1132
hey @benwilson512 Have discussed a little bit in the elixir forum post linked in the original description.

They doesn't seem to be a way to implement a general, easy solution to this problem at the moment.

What would be really good is to have a list of `ancestors`  as a field in the resolution struct. This would make our lives so much easier. consider this a feature request

[2021-12-15 21:16] benwilson512 commented on #1132
Hi @dylan-chong, I have replied in the forum thread and would prefer to keep the discussion there instead of doing it in 2 places.

[2021-12-17 19:15] kdawgwilk opened #1134 "Nullability of operation variables missing validation"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v): 1.12
* Absinthe version (mix deps | grep absinthe): 1.6.6
* Client Framework and version (Relay, Apollo, etc): N/A

### Expected behavior

A validation error that the operation argument nullability does not match the nullability of the argument type where its used.

### Actual behavior

Absinthe acce

[2021-12-28 10:33] mathieuprog commented on #925
Any plans on adding the extensions entry? It seems important to have error codes for the client to use:

[code]

For now we can just add those custom data in the errors map though, but it's just a pity not to be able to do it the standard way.

[2021-12-30 12:04] thojanssens opened #1136 "Convert data in result to camel-case?"
I'm using the function `put_result` like so:
[code]

I realize that the key `login_page` is not converted into camel-case on the Javascript side.

Is that the desired behavior?

[2021-12-30 17:48] kdawgwilk commented on #1136
yes because this is being done after an `Absinthe.Phase` which does the conversion.  To learn more about this you can search the codebase for adapter to see where its used

[2022-01-01 23:48] jordi-chacon commented on #1054
Encountering exact same error when running `absinthe.schema.json` Mix task. This is preventing us is from using `persistent_term`. Curious if there are any workarounds or any plans to fix this issue in the next version of Absinthe?

[2022-01-03 13:08] benwilson512 commented on #1136
This is the desired behavior, Absinthe has no idea about the inner contents of your error messages, it is opaque to Absinthe.

[2022-01-03 13:08] #1136 closed

[2022-01-03 23:22] scrogson commented on #1126
I just ran into this today. I have something where I'd like to define a field on an input object but control the name of the field so that `:user_id_in` can be defined in the schema as `userId_in`. But it doesn't seem to work in the way I think it should.

[2022-01-04 17:50] #1049 closed

[2022-01-04 17:50] #1133 closed

[2022-01-04 23:57] epinault opened #1137 "Duplicate Content-type header cause request to fail with an obscure error"
If submitting a bug, please provide the following:

### Environment

* Elixir version (elixir -v):

Erlang/OTP 24 [erts-12.0.3] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [jit]
Elixir 1.12.1 (compiled with Erlang/OTP 22)

* Absinthe version (mix deps | grep absinthe):
* absinthe 1.6.3 (https://github.com/podium/absinthe.git) (mix)
* absinthe_plug 1.5.8 (Hex package) (mix)
  lock

[2022-01-05 00:41] benwilson512 commented on #1137
From the html spec:

The `if and only if` bit is important. Content type is not a comma separated list. Finch's choice to focus on performance makes sense for what it is, but basically Finch is making it your job to send valid content types. Multiple content types, as far as I can tell, are not valid. What should absinthe_plug do anyway if they have different values?

[2022-01-05 00:41] #1137 closed

[2022-01-08 00:36] adampash commented on #1064
I'm using Absinthe in production and have started running into this problem as well. Has anyone had any luck on workarounds, or is using 1.5 the best option for now?

[2022-01-08 14:03] dagumak opened #1139 "Graphiql schema does not reload when import types using an alias"
I couldn't find any documentation or reports, so I apologize if it's a known issue. I just spent an hour debugging this and found out that the schema does not reload if you use `import_types` with an alias.

For example, this works:
[code]

This works when recompiling everything, but not on subsequence changes in file with that is being imported:
[code]

[2022-01-08 14:04] benwilson512 commented on #1139
You're saying the old schema information remains even after you reload the page?

[2022-01-08 14:05] dagumak commented on #1139
Yeah, that is correct. I clicked the "Reload Schema" button manually and I can see it hitting the server trigger a compile as well. However, when I make changes directly in the schema file, it reloads as expected.

[2022-01-09 20:13] maartenvanvliet commented on #1077
@tlvenn this issue can be closed I think with the merger of #1078

[2022-01-09 20:57] #1077 closed

[2022-01-10 21:46] dylan-chong commented on #856
Hey @evanreierson, was any progress made on this issue?

[2022-01-12 17:42] evanreierson commented on #856
Hi @dylan-chong, Unfortunately, I did not make any further progress on this issue because I was in a rush and decided to use another GraphQL framework (in another programming language) with this feature already implemented. Sorry for the inconvenience and good luck!

[2022-01-16 11:06] dagumak commented on #1139
@benwilson512 were you able to confirm this? do you need more information from me?

[2022-01-18 13:41] #1134 closed

[2022-01-18 13:51] benwilson512 commented on #1139
I have not had time to dig into this, sorry. For now I would simply avoid using the problematic aliases.

[2022-01-19 10:56] dagumak commented on #1139
No rush on my side, but just wanted to see if it was reproducible by others. For now, I'm avoiding aliases and will refactor in the future.

[2022-01-28 11:46] marcinkoziej opened #1149 "resolve_type second parameter is just some other resolved object?"
Hi!
Reporting a potential bug:

### Environment

Erlang/OTP 24 [erts-12.0.3] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [jit]
Elixir 1.12.0 (compiled with Erlang/OTP 23)
mix deps |grep absinthe
* absinthe 1.7.0 (Hex package) (mix)
  locked at 1.7.0 (absinthe) 566a5b55
* absinthe_phoenix 2.0.2 (Hex package) (mix)
  locked at 2.0.2 (absinthe_phoenix) d3691892
* absinthe_plug 1.5.8 (He

[2022-01-28 12:27] marcinkoziej commented on #1149
Additional debugging shows that for every item, resolve_type is called with a different path in second argument (each path element has {name, partent_type.identifier}):
[code]
So the calls to resolve_type pass Execution context with very weird paths:

[code]
(not that for Target with index 2, it is not even in the path - Target with index 1 is)

[2022-01-28 12:46] benwilson512 commented on #1149
Hey @marcinkoziej, that is definitely a bit strange. Traditionally the reason we pass in the env has more to do with making the schema available and the context available, I don't know that the other values in that struct have been validated in this situation. Possibly there is some data leaking over from the execution flow. Let me look into it.

[2022-02-02 10:26] dorian-marchal commented on #1064
Same issue here on 1.6.6, resolution happens for every subscribed client and all clients receive multiple updates.

[2022-02-04 21:35] SkyLeite commented on #506
Hey. I came across this 4 year old issue when I had an empty / missing `query` object in my schema.

[code]

The snippet above is enough to trigger it.

[2022-02-05 08:27] maartenvanvliet commented on #506
A Query definition is of the Object type and per the spec:

So it's no surprise it yields invalid introspection results. There should probably be a check for this.

[2022-02-06 02:35] benwilson512 commented on #506
I know we require `query do`, I don't think we require fields.

[2022-02-07 20:33] kdawgwilk commented on #506
Is there an existing phase that makes sense for this check to live or would a new phase be best?

[2022-02-14 22:13] kdawgwilk opened #1152 "Add generic import_directives for macro based schemas"
We have a library that defines its own prototype schema https://github.com/DivvyPayHQ/absinthe_federation/blob/main/lib/absinthe/federation/schema/prototype.ex that defines its own directives and we have a phoenix/absinthe API app that uses this library but also wants to define its own type system directives so we need a way to merge these two prototypes together.  Having this `import_directives`

[2022-02-14 23:50] kdawgwilk commented on #1152
This has me thinking what about `import_scalars` or do those fall under `import_types`?  and why would type level directives not also fall under `import_types`?

[2022-02-15 01:31] benwilson512 commented on #1152
Scalars fall under types. Directives are in their own distinct categories, everything else is part of the type system.

[2022-02-15 19:16] caitlinhalla opened #1153 "Executing a query should error when aliasing a field with the same name as a field of incompatible type"
### Environment

* Elixir version: 1.12.1-otp-24
* Absinthe version: pinned at `sha: "738f97b96d77f793a99098aa9008683d9b6ab991"` in our service, however, also validated that this occurs in `Absinthe 1.7.0`

### Expected behavior

I would expect the execution of the following query containing a field aliased with the same name as a field of incompatible type to error:
`query {
    thing(id: "foo")

[2022-02-16 00:11] kdawgwilk opened #1154 "Test failure on elixir >1.12 otp 24"
[code]

[2022-02-16 21:36] zvlasic commented on #1139
Can confirm it happens to me also.

[2022-02-16 21:46] zvlasic commented on #1139
Let me add some info. If I use

[code]
and do some changes on type (let's say - renaming a field), these changes would not be seen in test env, so I had to to force recompile in test env every time I did some changes.

I just found this issue and changed schema to
[code]
and it solved the problem!

[2022-02-17 12:52] #1154 closed

[2022-03-04 19:13] brweber2 opened #1163 "absinthe-graphql.org Domain is expired"
Not sure exactly where to submit this but the absinthe-graphql.org domain is expired so the website is not working.

I didn't see an existing issue so I just wanted to bring this to your attention in case you were not aware. If this was planned please feel free to close this issue. Thanks.

[2022-03-04 22:01] benwilson512 commented on #1163
Hey @brweber2 we are aware and we're working on it, thanks for making an issue though!

[2022-03-09 21:17] bismark commented on #1064
This seems like a pretty significant security flaw. It appears to effectively cause the `topic` to be ignored. I.e. if I have the following subscription (modified from the OP's showcase):

[code]

All subscribers with the same document, regardless of their `user_id`, will receive all pushes to `:change`.

Example:

[code]

I then run

[code]

and receive:

[code]

and then run:

[code]

and receiv

[2022-03-10 02:36] benwilson512 commented on #1163
Fixed!

[2022-03-10 02:36] #1163 closed

[2022-03-11 17:27] #1152 closed

[2022-03-11 17:29] benwilson512 commented on #1064
Ah, this is by far the most succinct description of the issue, thanks for doing this. Let me look into this this weekend.

[2022-03-12 03:43] kyleboe commented on #1139
Confirmed here as well. I have to run a `mix clean` before starting up whenever one of the imported files changes.

[2022-03-12 03:44] kyleboe commented on #1083
I believe this is related to https://github.com/absinthe-graphql/absinthe/issues/1139. I have to do the same thing.

[2022-03-12 05:12] conradwt commented on #1139
I haven't been able to reproduce this issue after upgrading to both Erlang 24.2 and Elixir 1.13.  Furthermore, I recently refactored the GraphQL layer that did remove all the aliases from top-level `schema.ex` file.  When changing the types of any of the `import_types`, I simply just refresh the browser and I'm all good.

[2022-03-22 01:47] mathieuprog opened #1164 "Middleware/resolver execution hangs after some time"
We're experimenting with middlewares and we created a middleware that sleeps for 2 seconds before continuing, and added it as first middleware to run in the middleware chain:

[code]

[code]

After approximately the 5th print of `"--> hello"` on my machine, `"--> world"` is no longer printed and the execution just seems frozen, without any error raised.

I expected to see at least some error, like

[2022-03-22 10:39] benwilson512 commented on #1164
Hi @mathieuprog, Absinthe itself does not introduce any timeouts. Can you show a complete example that I can run?

[2022-03-23 02:10] kuznetskikh opened #1165 "Incorrect Enum validation for default value of the input object field"
### Environment

* Elixir 1.13.0
* Absinthe 1.6.7

### Expected behavior

In my schema I'm trying to specify enum using shorthand with list of allowed values, like:

`enum :color_channel, values: [:red, :green, :blue, :alpha]`

And then in input object I'm trying to add default value, like:

`field(:color_channel, :color_channel, default_value: :red)`

### Actual behavior

While validating my sche

[2022-03-23 02:11] benwilson512 commented on #1165
This is a duplicate of https://github.com/absinthe-graphql/absinthe/issues/1081

[2022-03-23 02:11] #1165 closed

[2022-03-23 02:15] kuznetskikh commented on #1165
Oh, I see, just missed it. Thanks @benwilson512 !

[2022-03-23 21:41] linomassarani commented on #1139
Same thing here, the `Absinthe.Schema.Notation.import_types/2` macro is working fine, I've tested it for a while, it does the job.

But there is still a problem when a imported type changes, for example, if I have this on the `Schema`:

[code]

And `User` module has something like this working fine:

[code]

If I change to something like `field(:cool_profile_field_changed, :string, resolve: &Resol

[2022-03-23 21:54] linomassarani commented on #1139
Same thing here, the `Absinthe.Schema.Notation.import_types/2` macro is working fine, I've tested it for a while, it does the job.

But there is still a problem when a imported type changes, for example, if I have this on the `Schema`:

[code]

And `User` module has something like this working fine:

[code]

If I change to something like `field(:cool_profile_field_changed, :string, resolve: &Resol

[2022-04-03 15:40] dolfinus commented on #1054
It looks like #1159 fixed this issue

[2022-04-05 16:06] marcinkoziej commented on #1149
@benwilson512 hi, any updates ?

[2022-04-13 15:11] jnicklas commented on #1139
Can confirm as well. Took me a long while to figure out that this is related to the `import_types Quox.{Foo,Bar}` form. Importing individually fixes the problem.

[2022-04-25 23:21] MikaAK opened #1166 "Adding an input_object without fields causes schema not to generate and fail silently"
### Environment

* Elixir version (elixir -v): 1.13.3
* Absinthe version (mix deps | grep absinthe): 1.6.6

When generating the API if you specify an input_object with no fields:
[code]
The schema will no longer generate but there's no errors so the only way to track it down is start removing queries/mutations to see what generates

### Expected behavior
Probably some sort of error would be nice s

[2022-05-30 15:41] rewritten opened #1173 "Republish 1.6.6 as 1.6.8"
`mix deps` does not care (except for a colored output) whether a version is retired or not. Only `mix hex.audit` complains if any _current_ version (from `mix.lock`) is removed.

Projects that have pinned `absinthe` to `~> 1.6.6` may therefore get wrongly updated to `1.6.7` (for instance dependabot does it).

If you could republish 1.6.6 as 1.6.8, a project will upgrade to 1.6.8 instead, and there